<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<th:block th:replace="~{./common/thymeleafView::setContent(~{::.content})}">
    <div class="content">
        <div class="main-wrap">
            <div class="main-left">
                <div id='calendar'></div>
            </div>

            <div class="main-right">
                <div class="right1">
                    <div class="chart-container">
                        <h3>월별판매량</h3>
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="chart-container">
                        <h3>목표판매량도달률</h3>
                        <canvas id="doughnut"></canvas>
                    </div>
                </div>
                <div class="right2">
                    <div class="notice-wrap">
                        <div class="notice1">
                        <p>공지사항</p>
                        <table>
                            <thead>
                                <tr>
                                    <th>작성일</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>진행상태</th>
                                </tr>
                            </thead>
                        <tbody>
                            <tr>
                                <td>2024/09/01</td>
                                <td>본사 전체 회의 소집</td>
                                <td>원샷</td>
                                <td>진행 중</td>
                            </tr>
                            <tr>
                                <td>2024/09/01</td>
                                <td>영업팀 신입사원 공개채용 일정</td>
                                <td>원샷</td>
                                <td>진행 중</td>
                            </tr>
                            <tr>
                                <td>2024/09/01</td>
                                <td>8월 우수영업사원 안내문</td>
                                <td>원샷</td>
                                <td>진행 중</td>
                            </tr>
                            <tr>
                                <td>2024/09/01</td>
                                <td>인사팀 신입사원 공개채용 일정</td>
                                <td>원샷</td>
                                <td>진행 중</td>
                            </tr>
                            <tr>
                                <td>2024/09/01</td>
                                <td>인사팀 신입사원 공개채용 일정</td>
                                <td>원샷</td>
                                <td>진행 중</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<script>

    // ----- 세로막대 차트
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['1분기', '2분기', '3분기', '4분기', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    '#468189',
                    '#77aca2',
                    '#9dbebb',
                    '#708d81',
                    '#6b9080',
                    '#333d29'
                ],
                borderColor: [
                    '#468189',
                    '#77aca2',
                    '#9dbebb',
                    '#708d81',
                    '#6b9080',
                    '#333d29'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // ----- 달력
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            // Tool Bar 목록 document : https://fullcalendar.io/docs/toolbar
            headerToolbar: {
                left: 'prevYear,prev,next,nextYear today',
                center: 'title',
                right: 'dayGridMonth,dayGridWeek,dayGridDay'
            },

            selectable: true,
            selectMirror: true,

            navLinks: true, // can click day/week names to navigate views
            editable: true,
            // Create new event
            select: function (arg) {
                Swal.fire({
                    html: "<div class='mb-7'>Create new event?</div><div class='fw-bold mb-5'>Event Name:</div><input type='text' class='form-control' name='event_name' />",
                    icon: "info",
                    showCancelButton: true,
                    buttonsStyling: false,
                    confirmButtonText: "Yes, create it!",
                    cancelButtonText: "No, return",
                    customClass: {
                        confirmButton: "btn btn-primary",
                        cancelButton: "btn btn-active-light"
                    }
                }).then(function (result) {
                    if (result.value) {
                        var title = document.querySelector("input[name=;event_name']").value;
                        if (title) {
                            calendar.addEvent({
                                title: title,
                                start: arg.start,
                                end: arg.end,
                                allDay: arg.allDay
                            })
                        }
                        calendar.unselect()
                    } else if (result.dismiss === "cancel") {
                        Swal.fire({
                            text: "Event creation was declined!.",
                            icon: "error",
                            buttonsStyling: false,
                            confirmButtonText: "Ok, got it!",
                            customClass: {
                                confirmButton: "btn btn-primary",
                            }
                        });
                    }
                });
            },

            // Delete event
            eventClick: function (arg) {
                Swal.fire({
                    text: "Are you sure you want to delete this event?",
                    icon: "warning",
                    showCancelButton: true,
                    buttonsStyling: false,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, return",
                    customClass: {
                        confirmButton: "btn btn-primary",
                        cancelButton: "btn btn-active-light"
                    }
                }).then(function (result) {
                    if (result.value) {
                        arg.event.remove()
                    } else if (result.dismiss === "cancel") {
                        Swal.fire({
                            text: "Event was not deleted!.",
                            icon: "error",
                            buttonsStyling: false,
                            confirmButtonText: "Ok, got it!",
                            customClass: {
                                confirmButton: "btn btn-primary",
                            }
                        });
                    }
                });
            },
            dayMaxEvents: true, // allow "more" link when too many events
            // 이벤트 객체 필드 document : https://fullcalendar.io/docs/event-object
            events: [
                {
                    title: 'All Day Event',
                    start: '2022-07-01'
                },
                {
                    title: 'Long Event',
                    start: '2022-07-07',
                    end: '2022-07-10'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2022-07-09T16:00:00'
                },
                {
                    groupId: 999,
                    title: 'Repeating Event',
                    start: '2022-07-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2022-07-11',
                    end: '2022-07-13'
                },
                {
                    title: 'Meeting',
                    start: '2022-07-12T10:30:00',
                    end: '2022-07-12T12:30:00'
                },
                {
                    title: 'Lunch',
                    start: '2022-07-12T12:00:00'
                },
                {
                    title: 'Meeting',
                    start: '2022-07-12T14:30:00'
                },
                {
                    title: 'Happy Hour',
                    start: '2022-07-12T17:30:00'
                },
                {
                    title: 'Dinner',
                    start: '2022-07-12T20:00:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2022-07-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'http://google.com/',
                    start: '2022-07-28'
                }
            ]
        });

        calendar.render();
    });

    const canvas = document.getElementById("doughnut");
    const data = {
        labels: ["도달1", "도달2", "도달2"],
        datasets: [
            {
                label: "My First Dataset",
                data: [200, 40, 90],
                backgroundColor: [
                    "#01497c",
                    "#2a6f97",
                    "#61a5c2",
                ],
                hoverOffset: 4,
            },
        ],
    };
    new Chart(canvas, {
        type: "doughnut",
        data,
    });

</script>

</html>