<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/common/css/login.css">
</head>
<body>
    <div class="container">
        <div class="login-container">
            <form class="login-form" action="loginForm" method="post">
              <p class="logo"><img src="img/logo2.png" alt="#"></p>
                <div class="input-group">
                    <label for="username">사원번호</label>
                    <input type="text" id="username" name="username" placeholder="사원번호 입력" required>
                </div>
                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" placeholder="비밀번호 입력" required>
                </div>
                <button type="submit">로그인</button>
                <p>© 2024 All Rights Reserved.</p>
            </form>
        </div>
    </div>
    <script>
        document.querySelector('.login-form').addEventListener('submit', function(event) {
            event.preventDefault(); // 폼 제출의 기본 동작을 막음

            var formData = new FormData(this); // 폼 데이터 가져오기
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/common/loginForm', true);

            xhr.onload = function() {
                if (xhr.status === 200) {
                    // 로그인 성공 시 리다이렉트
                    window.location.href = '/common/home';
                } else {
                    // 로그인 실패 시 알림 표시
                    alert(xhr.responseText); // 서버에서 전송한 메시지를 알림으로 표시
                }
            };

            xhr.onerror = function() {
                alert('서버와의 연결에 실패했습니다.'); // 연결 실패 시 알림
            };

            xhr.send(formData); // AJAX 요청 전송
        });
    </script>


</body>
</html>
