<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./common/thymeleafView::setContent(~{::.content})}">
    <div class="content">
        <div class="order-wrap">
            <div class="text-wrap">
                <p>계약조회</p>
                <p>❉ 조회 또는 수정을 원하시면 원하는 항목을 선택해주세요. </p>
            </div>
            <div class="order-title">
                <div class="filter-content">
                    <form action="contract" method="get">
                        <div class="filter-main">
                            <h3>상세내역검색</h3>
                            <button type="submit" class="filter-button">검색하기</button>
                            <button type="button" class="filter-button" onclick="location.href='/sales/contract'">전체보기</button>
                        </div>

                        <table>
                            <tbody>
                                <tr>
                                    <td><p>고객사명</p></td>
                                    <td><input type="text" name="clientName"></td>
                                    <td><p>계약시작일</p></td>
                                    <td><input type="date" name="contractSdate"></td>
                                    <td><p>계약종료일</p></td>
                                    <td><input type="date" name="contractEdate"></td>
                                </tr>
                                <tr>
                                    <td><p>상품품목명</p></td>
                                    <td><input type="text" name="productName"></td>
                                    <td><p>고객사담당자</p></td>
                                    <td><input type="text" name="managerName"></td>
                                    <td><p>계약상태</p></td>
                                    <td>
                                        <select name="contractPriceStatus">
                                            <option value="승인" th:selected="${'승인' == pageVO.cri.contractPriceStatus}">승인</option>
                                            <option value="승인대기" th:selected="${'승인대기' == pageVO.cri.contractPriceStatus}">승인대기</option>
                                            <option value="반려" th:selected="${'반려' == pageVO.cri.contractPriceStatus}">반려</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <table id="dataTable">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll"></th>
                        <th>no</th>
                        <th>고객사명</th>
                        <th>고객사담당자</th>
                        <th>상품명</th>
                        <th>계약가격</th>
                        <th>계약시작일</th>
                        <th>계약종료일</th>
                        <th>본사담당자</th>
                        <th>계약상태</th>
                        <th>계약만료일</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="vo : ${list}" class="product_list" >
                        <td><input type="checkbox" class="checkbox"></td>
                        <td th:text="${vo.contractPriceNo}"></td>
                        <td th:text="${vo.clientName}"></td>
                        <td th:text="${vo.managerName}"></td>
                        <td th:text="${vo.productName}"></td>
                        <td th:text="${vo.contractPrice} + 원"></td>
                        <td th:text="${#dates.format(vo.contractSdate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(vo.contractEdate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${vo.employeeName}"></td>
                        <td th:text="${vo.contractPriceStatus}"></td>
                        <td th:text="${vo.contractDday}"></td>
                    </tr>
                </tbody>
            </table>

            <div class="buttons">
                <div class="button-left">
                    <button id="approveButton" class="button-right" th:if="${pageVO.cri.contractPriceStatus == '승인대기'}" onclick="rejectContract()">계약반려</button>
                    <button id="rejectButton" class="button-right" th:if="${pageVO.cri.contractPriceStatus == '승인대기'}" onclick="approveContract()" style="margin-right: 3px !important;">계약승인</button>
                </div>
                <button class="button-right" onclick="handleClick2(event)">거래등록</button>
            </div>

            <div class="center">
                <div class="page">
                    <th:block th:replace="~{./sales/contractPagination::page(${pageVO})}"></th:block>
                </div>
            </div>
        </div>

        <!-- 등록 기능 -->
        <div id="popup-regist" class="popup-regist">
            <form id="registContract" action="registForm" method="post">
                <input type="hidden" th:value="${#authentication.principal.username}" name="employeeNo">
                <div class="popup-content">
                    <h2>계약등록</h2>
                    <div class="popup-list">
                        <table>
                            <tbody>
                                <tr>
                                    <td><p>고객사명</p></td>
                                    <td><select class="clientName" onchange="updateInfo(event)" oninput="checkValue(this)" name="clientNo"></select><br><p id="clientErrorText" class="error-text">※ 고객사 선택은 필수입니다.</p></td>
                                    <td><p>사업자등록번호</p></td>
                                    <td><input type="text" class="clientBusinessNo" readonly></td>
                                </tr>
                                <tr>
                                    <td><p>고객사담당자</p></td>
                                    <td><input type="text" class="managerName" readonly style="background-color: #f0f0f0; color: #777777"></td>
                                    <td><p>고객사담당자 전화번호</p></td>
                                    <td><input type="text" class="managerPhone" readonly></td>
                                </tr>

                                <tr>
                                    <td><p>본사담당자</p></td>
                                    <td><input type="text" class="employeeName" th:value="${#authentication.principal.employeeName}" readonly style="background-color: #f0f0f0; color: #777777"></td>
                                    <td><p>본사담당자 전화번호</p></td>
                                    <td><input type="text" class="employeePhone" th:value="${#authentication.principal.employeePhone}" readonly></td>
                                </tr>

                                <tr>
                                    <td><p>계약시작일</p></td>
                                    <td><input type="date" id="registContractSdate" name="contractSdate" oninput="checkValue(this)" required><br><p class="error-text">※ 계약시작일 선택은 필수입니다.</p></td>
                                    <td><p>계약종료일</p></td>
                                    <td><input type="date" id="registContractEdate" name="contractEdate" oninput="checkValue(this)" required><br><p class="error-text">※ 계약종료일 선택은 필수입니다.</p></td>
                                </tr>
                                <tr class="addList">
                                    <td><p>상품명</p></td>
                                    <td>
                                        <select class="productNo" name="productNo" onchange="changeHandle()" oninput="checkValue(this)" required>
                                            <option>-상품명-</option>
                                        </select>
                                        <br><p id="productErrorText" class="error-text">※ 상품 선택은 필수입니다.</p>
                                    </td>
                                    <td class="product-price"><p>계약거래가</p></td>
                                    <td><input type="number" name="contractPrice" oninput="checkValue(this); checkProductName(event)" required><br><p class="error-text">※ 계약거래가 입력은 필수입니다.</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="popup-button">
                        <div class="button-left">
                        </div>
                        <div class="button-right">
                            <button type="button" id="registerButton" onclick="registerBtn()">등록</button>
                            <button type="button" class="close-btn3">닫기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
<script>
    window.onload = function () {
        // 드래그 가능하게 만들기
        const popupRegist = document.getElementById('popup-regist');

        makeDraggable(popupRegist);
    };

    function makeDraggable(element) {
        let isDragging = false;
        let offsetX, offsetY;
        const header = element.querySelector('.popup-content');

        header.addEventListener('mousedown', (e) => {
            isDragging = true;
            offsetX = e.clientX - element.getBoundingClientRect().left;
            offsetY = e.clientY - element.getBoundingClientRect().top;
        });

        document.addEventListener('mousemove', (e) => {
            if (isDragging) {
                element.style.left = `${e.clientX - offsetX}px`;
                element.style.top = `${e.clientY - offsetY}px`;
            }
        });

        document.addEventListener('mouseup', () => {
            isDragging = false;
        });
    }

    // 전체 선택 체크박스
    const selectAllCheckbox = document.getElementById('selectAll');

    // 각 체크박스들
    const checkboxes = document.querySelectorAll('.checkbox');

    // '전체 선택' 체크박스를 클릭
    selectAllCheckbox.addEventListener('change', function() {
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = selectAllCheckbox.checked;

            // 배경색 지정
            const td = checkbox.closest('tr').querySelectorAll('td'); // 체크박스가 있는 모든 <td>
            td.forEach(function(cell) {
                cell.style.backgroundColor = checkbox.checked ? '#f7f5f2' : '';
            });
        });
    });

    // 체크박스 누르면 누른 행 색상 변하게
    function toggleRow(checkbox) {
        const row = checkbox.closest('tr'); // 체크박스가 속한 tr 요소를 찾음
        const tds = row.getElementsByTagName('td'); // 해당 tr의 모든 td 요소를 가져옴

        // 모든 td의 배경색과 투명도를 설정
        for (const td of tds) {
            td.style.backgroundColor = checkbox.checked ? '#f7f5f2' : '';
        }
    }

    // 체크박스 클릭 시 toggleRow 함수 호출
    document.querySelectorAll('.checkbox').forEach(checkbox => {
        checkbox.addEventListener('click', () => toggleRow(checkbox));
    });

    function approveContract() {
        checkboxes.forEach(function(checkbox) {
            if(checkbox.checked) {
                var contractPriceNo = checkbox.parentElement.parentElement.children[1].innerText;
                $.ajax({
                    url: '/sales/approveContract',
                    type: 'get',
                    data: {contractPriceNo : contractPriceNo},
                    dataType: 'json',
                    success: function(data) {
                        checkbox.parentElement.parentElement.children[9].innerText = data.contractPriceStatus;
                        selectAllCheckbox.checked = false;
                        checkbox.checked = false;
                        alert('승인되었습니다.');
                    },
                    error: function() {
                        console.log('/sales/updateContractPriceStatus error');
                    }
                });
            }
        });
        location.href = '/sales/contract?contractPriceStatus=승인';
    }

    function rejectContract() {
        checkboxes.forEach(function(checkbox) {
            if(checkbox.checked) {
                var contractPriceNo = checkbox.parentElement.parentElement.children[1].innerText;
                $.ajax({
                    url: '/sales/rejectContract',
                    type: 'get',
                    data: {contractPriceNo : contractPriceNo},
                    dataType: 'json',
                    success: function(data) {
                        checkbox.parentElement.parentElement.children[9].innerText = data.contractPriceStatus;
                        selectAllCheckbox.checked = false;
                        checkbox.checked = false;
                        alert('반려되었습니다.');
                    },
                    error: function() {
                        console.log('/sales/updateContractPriceStatus error');
                    }
                });
            }
        });
        location.href = '/sales/contract?contractPriceStatus=반려';
    }

    // 팝업창 열기 및 닫기 기능
    const popupRegist = document.getElementById('popup-regist');
    const closeBtn = document.querySelectorAll('.close-btn');
    const closeBtn2 = document.querySelector('.close-btn2');
    const closeBtn3 = document.querySelector('.close-btn3');
    const forPopup = document.querySelectorAll('.for-popup');

    function handleClick2(event) { //등록페이지
        $.ajax({
            url: '/sales/getContractClientList',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                var html = '<option>-고객사명-</option>';
                $.each(data, function(index, obj) {
                    html += '<option value=' + obj.clientNo + '>' + obj.clientName + '</option>';
                });
                $('.clientName').html(html);
            },
            error: function() {
                alert('error');
            }
        });

        popupRegist.style.display = 'block';
    }

    function updateInfo(event) {
        $.ajax({
            url: '/sales/getContractUpdateList',
            type: 'get',
            data: {clientNo : event.target.value},
            dataType: 'json',
            success: function(data) {
                console.log(data);
                $('.clientBusinessNo').val(data.clientBusinessNo);
                $('.managerName').val(data.managerName);
                $('.managerPhone').val(data.managerPhone);
            },
            error: function() {
                $('.clientBusinessNo').val('');
                $('.managerName').val('');
                $('.managerPhone').val('');
            }
        });

        $.ajax({
            url: '/sales/getContractProductList',
            type: 'get',
            dataType: 'json',
            success: function(data2) {
                var html = '<option value="">-상품-</option>';
                $.each(data2, function(index2, obj2) {
                    html += '<option value="' + obj2.productNo + '">' + obj2.productName + '</option>';
                });
                $('.productNo').html(html);
            },
            error: function() {
                $('.productNo').html('<option>상품 로드 실패</option>');
            }
        });
    }

    function checkValue(input) {
      const errorText = input.nextElementSibling.nextElementSibling;
      if(input.value.trim() !== "") {
        errorText.style.display = "none";
      } else {
        errorText.style.display = "block";
      }
    }

    function registerBtn() {
        let hasError = false;

        $(".error-text").each(function(index, item) {
            if ($(item).css("display") !== "none") {
                hasError = true;
                return false;  // 첫 번째 에러 발견 시 반복문 종료
            }
        });

        if (!hasError) {
            $("#registContract").submit();  // 에러가 없을 때만 폼 제출
        }
    }

    // 팝업창 닫기
    function closePopupRegist() {
        popupRegist.style.display = 'none';
    }

    // 닫기 버튼 클릭 시 팝업창 닫기
    closeBtn3.addEventListener('click', closePopupRegist); //--- 닫기 버튼

    // 등록팝업창 열기
    const registBtn = document.getElementById('button-regist');
</script>
</html>