<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>
    // regist: 새로운 행추가
    function addRow() {
        // 마지막 행 복사
        const rows = document.querySelectorAll('#inputContainer tr');
        const lastRow = rows[rows.length - 1];

        // 새 행 생성
        const newRow = lastRow.cloneNode(true);

        const newRowInputs = newRow.querySelectorAll('input, select');
        newRowInputs.forEach((element) => {

            element.name = element.name.replace(/\[\d+\]/, `[${rows.length}]`);
        });

        // 새 행 값 초기화
        newRow.querySelectorAll('input').forEach(input => {
            input.value = '';
            if (input.classList.contains('contractPrice') ||
            input.classList.contains('inventoryQuantity') ||
            input.classList.contains('amount')) {
                input.readOnly = true;
            } else {
                input.readOnly = false;
            }
        });

        // 새 행의 select 필드 초기화/getPrice 연결
        newRow.querySelectorAll('select').forEach(select => {
            select.selectedIndex = 0;
            select.disabled = false;

            // 상품 번호 확인 및 중복 검사
            if (select.name.includes("productNo")) {
                const existingProductNos = Array.from(rows).map(row => {
                    const input = row.querySelector('select[name*="productNo"]');
                    return input ? input.value : '';
                });

                // 선택된 상품을 제외하고 보여주기
                const options = select.querySelectorAll('option');
                options.forEach(option => {
                    if (existingProductNos.includes(option.value) && option.value !== "") {
                        option.style.display = 'none'; // 이미 선택된 상품은 안보이게 처리
                    } else {
                        option.style.display = 'block'; // 나머지는 보이게 처리
                    }
                });
            }

            select.addEventListener('change', function(event) {
                const selectedRow = event.target.closest('tr');
                getPrice(event);
            });
        });

        // 새 행의 삭제 버튼
        const removeButton = newRow.querySelector('.remove-button');
        if (removeButton) {
            removeButton.addEventListener('click', function() {
                removeRow(removeButton);
            });
        }

        // 새 행의 입력 필드에 값 연동
        const productQuantityInput = newRow.querySelector('.productQuantity');
        if (productQuantityInput) {
            productQuantityInput.addEventListener('input', updateAmount);
        }

        // 새 행을 테이블에 추가
        document.getElementById('inputContainer').appendChild(newRow);
    }

    function getPrice(event) {
        const productNo = event.target.value; // 선택된 productNo
        const currentRow = event.target.closest('tr');

        // 첫 번째 테이블에서 clientNo 값 가져오기
        const clientNo = document.querySelector('.order-regist-table .clientNo').value;

        // 현재 행의 input 요소 찾기
        const contractPriceInput = currentRow.querySelector('.contractPrice');
        const productQuantityInput = currentRow.querySelector('.productQuantity');
        const amountInput = currentRow.querySelector('.amount');
        const inventoryQuantityInput = currentRow.querySelector('.inventoryQuantity');

        $.ajax({
            url: '/sales/getProductPrice',
            type: 'get',
            data: {
                productNo: productNo,
                clientNo: clientNo
            },
            dataType: 'json',
            success: function(data) {

                contractPriceInput.value = data.contractPrice; // 가격 정보
                inventoryQuantityInput.value = data.inventoryQuantity; // 재고 정보
                productQuantityInput.value = ''; // 개수 초기화
                amountInput.value = ''; // 금액 초기화
            },
            error: function() {
                alert('상품 가격 및 재고 정보를 가져오는 데 실패했습니다.');
            }
        });
    }

    function removeRow(button) {
        const row = button.closest('tr');
        const rows = document.querySelectorAll('#inputContainer tr');

        // 첫 번째 행이면 기능을 수행하지 않음
        if (row === rows[0]) {
            alert("최소 1개의 항목은 등록하셔야합니다.");
            return;
        }

        // 행 삭제
        row.remove();
    }


</script>

<th:block th:replace="~{./common/thymeleafView::setContent(~{::.content})}">
    <div class="content">
        <div class="order-wrap">
            <div class="text-wrap">
                <p>판매조회</p>
                <p>❉ 조회 또는 수정을 원하시면 원하는 항목을 선택해주세요. </p>
            </div>
            <div class="order-title">
                <!-- 필터 기능 -->
                <div class="filter-content">
                    <form action="order" method="get">
                        <div class="filter-main">
                            <h3>상세내역검색</h3>
                            <button type="submit" class="filter-button">검색하기</button>
                            <button type="button" onclick="location.href='/sales/order'" class="filter-button">전체보기
                            </button>
                        </div>

                        <table>
                            <tr class="left-row" style="white-space: nowrap;">
                                <td><p>판매등록일자</p></td>
                                <td><input type="date" name="orderSdate" id="saleDateInput"
                                           th:value="${pageVO.cri.orderSdate}"></td>
                                <td><p>고객사명</p></td>
                                <td><input type="text" name="clientName" id="clientNameInput" class="clientNo"
                                           th:value="${pageVO.cri.clientName}">
                                </td>
                                <td><p>상품명</p></td>
                                <td><input type="text" name="productName" th:value="${pageVO.cri.productName}"></td>
                            </tr>
                            <tr>
                                <td><p>판매담당자명</p></td>
                                <td><input type="text" name="employeeName" id="employeeName"
                                           th:value="${pageVO.cri.employeeName}"></td>
                                <td><p>배송상태</p></td>
                                <td>
                                    <select name="deliveryStatus">
                                        <option></option>
                                        <option th:selected="${pageVO.cri.deliveryStatus == '배송대기'}">배송대기</option>
                                        <option th:selected="${pageVO.cri.deliveryStatus == '배송완료'}">배송완료</option>
                                    </select>
                                </td>
                                <td><p>배송일</p></td>
                                <td><input type="date" name="deliveryDate" th:value="${pageVO.cri.deliveryDate}"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <table id="dataTable">
                <thead>
                <tr>
                    <th style="width: 3%;"><input type="checkbox" id="selectAll"></th>
                    <th style="width: 5%;">no</th>
                    <th style="width: 13%;">판매등록일자</th>
                    <th style="width: 10%;">고객사명</th>
                    <th style="width: 22%;">상품리스트</th>
                    <th style="width: 10%;">총거래가</th>
                    <th style="width: 11%;">판매담당자명</th>
                    <th style="width: 10%;">배송상태</th>
                    <th style="width: 16%;">배송일</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="vo : ${list}"
                    onclick="handleClick(this, event)"
                    class="product_list"
                    th:attr="style=${vo.deliveryStatus} == '배송완료' ? 'background-color: #e3e3e3; opacity: 0.5;' : ''">
                    <td><input type="checkbox" class="checkbox" onclick="toggleRow(this)"></td>
                    <td th:text="${vo.orderHeaderNo}"></td>
                    <td th:text="${#dates.format(vo.orderSdate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${vo.clientName}" onclick="handleClick(this.innerHTML)"></td>
                    <td th:text="${vo.productNames}"></td>
                    <td th:text="${#numbers.formatInteger(vo.totalAmount, 3, 'COMMA') + '원'}"></td>
                    <td th:text="${vo.employeeName}"></td>
                    <td th:text="${vo.deliveryStatus}"></td>
                    <td th:text="${#dates.format(vo.delivery, 'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>

            <div class="buttons">
                <div class="button-left">
                    <button type="button" class="deliveryInfoButton" onclick="closeDeliveryStatus()">배송완료</button>
                </div>
                <button class="button-regist button-right" onclick="handleClick2(this.innerHTML)">판매등록</button>
            </div>

            <div class="center">
                <div class="page">
                    <th:block th:replace="~{./sales/orderPagination::page(${pageVO})}"></th:block>
                </div>
            </div>
        </div>

        <div id="popup-modify" class="popup-modify">
            <div class="popup-content">
                <h2>판매내역 상세보기</h2>
                <div class="popup-list">
                    <table class="order-modify-table">
                        <tbody>
                        <tr style="white-space: nowrap;">
                            <td><p>판매등록번호</p></td>
                            <td><input type="number" name="orderHeaderNo" readonly></td>
                            <td><p>판매등록일자</p></td>
                            <td><input type="date" name="orderSdate" id="modiOrderSdate" readonly></td>
                            <td colspan="2"><p>고객사명</p></td>
                            <td colspan="2"><input type="text" name="clientName" id="modiClientName" readonly></td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr>
                            <td><p>판매담당자</p></td>
                            <td><input type="text" name="employeeName" id="modiEmployeeName" readonly></td>
                            <td class="deliveryStatus"><p>배송상태</p></td>
                            <td><input type="text" name="deliveryStatus" id="deliveryStatus" disabled></td>
                            <td colspan="2"><p>배송일</p></td>
                            <td colspan="2"><input type="text" id="deliveryDate" name="delivery" readonly></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="order-modify-table-list">
                        <thead>
                        <tr>
                            <th>상품품목명</th>
                            <th>책정거래가</th>
                            <th>개수</th>
                            <th>금액</th>
                        </tr>
                        </thead>
                        <tbody class="order-items-tbody">
                        <tr class="modify-items-detail" style="white-space: nowrap;">
                            <td><input type="text" name="orderItems[0].productName[]" class="productName" readonly></td>
                            <td><input type="text" name="orderItems[0].contractPrice[]" class="contractPrice" readonly>
                            </td>
                            <td><input type="number" name="orderItems[0].productQuantity[]" class="productQuantity">
                            </td>
                            <td><input type="number" name="orderItems[0].amount[]" class="amount"></td>
                        <tr>
                        </tbody>
                    </table>

                </div>
                <div class="popup-button">
                    <div class="button-right">
                        <button type="submit" class="modifySubmitButton" style="display: none">저장</button>
                        <button type="button" onclick="closePopupModify()">닫기</button>
                    </div>
                </div>
            </div>
        </div>


        <div id="popup-regist" class="popup-regist popup-regist-normal">
            <form name="orderForm" action="/sales/orderForm" method="post">
                <div class="popup-content" style="width: 1050px !important;">
                    <h2>판매등록</h2>
                    <div class="popup-list">
                        <table class="order-regist-table">
                            <tbody>
                            <tr class="left-row">
                                <td><p>등록일자</p></td>
                                <td><input type="date" id="dateField" name="orderSdate" class="orderSdate" readonly/></td>
                                <td><p>판매담당자번호</p></td>
                                <td><input type="text" name="employeeNo" th:value="${#authentication.principal.username}" readonly></td>
                                <td colspan="2"><p>판매자 연락처</p></td>
                                <td colspan="2"><input type="text" class="employeePhone" disabled></td>
                                <td colspan="2"><p>판매자 이메일</p></td>
                                <td colspan="2"><input type="text" class="employeeEmail" disabled></td>
                            </tr>
                            <tr class="left-row">
                                <td><p>고객사</p></td>
                                <td>
                                    <select class="clientNo" name="clientNo" onchange="changeClientName(event)" oninput="checkValue(this)" required></select>
                                    <br>
                                    <p class="error-text">※ 고객사선택은 필수입니다.</p>
                                </td>
                                <td><p>사업자번호</p></td>
                                <td><input type="text" class="clientBusinessNo" disabled></td>
                                <td colspan="2"><p>담당자</p></td>
                                <td colspan="2"><input type="text" class="managerName" disabled></td>
                                <td colspan="2"><p>담당자 연락처</p></td>
                                <td colspan="2"><input type="text" class="managerPhone" disabled></td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="order-modify-table-list">
                            <thead>
                            <tr>
                                <th>상품명</th>
                                <th>책정거래가</th>
                                <th>재고</th>
                                <th>개수</th>
                                <th>금액</th>
                                <th style="width: 6.5%;">
                                    <button type="button" class="add-button" onclick="addRow()"
                                            style="width: 50px; background-image: none; color: black; margin-left: -10px; border: 1px solid #e3e3e3;">추가
                                    </button>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="inputContainer" class="input-wrapper">
                            <tr id="dynamicRow" style="white-space: nowrap;">
                                <td>
                                    <select name="orderItems[0].productNo[]" class="productNo"
                                            onchange="getPrice(event)" oninput="checkValue(this)">
                                        <option value="" disabled selected>-상품-</option>
                                    </select>
                                    <br>
                                    <p class="error-text">※ 상품 선택은 필수입니다.</p>
                                </td>
                                <td>
                                    <input type="number" name="orderItems[0].contractPrice[]" class="contractPrice" readonly required>
                                </td>
                                <td>
                                    <input type="number" name="inventoryQuantity" id="inventoryQuantity"
                                           class="inventoryQuantity" readonly></td>
                                <td>
                                    <input type="number" name="orderItems[0].productQuantity[]" class="productQuantity"
                                           oninput="updateAmount(event); checkInventory(event)" required>
                                    <br>
                                    <p class="error-soldout" style="display: none;">※ 현재 품절입니다.</p>
                                </td>
                                <td><input type="number" name="orderItems[0].amount[]" class="amount" readonly required>
                                </td>
                                <td>
                                    <button type="button" class="remove-button" onclick="removeRow(this)"
                                            style="width: 50px; background-image: none; color: black; margin: 0px; border: 1px solid #e3e3e3;">
                                        삭제
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                            <tr>
                                <td><p>배송상태</p></td>
                                <td><input type="text" name="deliveryStatus" placeholder="-" value="배송대기" readonly
                                           style="text-align: center;  color: #f0f0f0 !important;"></td>
                                <td><p>배송일</p></td>
                                <td><input type="date" name="delivery" readonly></td>
                                <td colspan="4"><p>합계</p></td>
                                <td colspan="4"><input type="text" id="totalAmount" disabled></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="popup-button">
                        <!--                    <div class="button-left">-->
                        <!--                        <button>계약서 첨부</button>-->
                        <!--                    </div>-->
                        <div class="button-right">
                            <button type="submit" onclick="handleSubmit()">등록</button>
                            <button type="button" class="close-btn3" onclick="closePopupRegist()">닫기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
<script th:inline="javascript">
    var employeeNo = /*[(${#authentication.principal.username})]*/ 'defaultUsername';
</script>
<script>

    window.onload = function () {

        //판매등록일자 sysdate설정
        var today = new Date();
        var yyyy = today.getFullYear();
        var mm = today.getMonth() + 1; // Months start at 0
        var dd = today.getDate();

        if (mm < 10) mm = '0' + mm;
        if (dd < 10) dd = '0' + dd;

        var formattedDate = yyyy + '-' + mm + '-' + dd;

        document.getElementById('dateField').value = formattedDate;

        // 드래그 기능을 추가할 팝업창 요소 선택
        const popupModify = document.getElementById('popup-modify');
        const popupRegist = document.getElementById('popup-regist');

        // 드래그 가능하게 만들기
        makeDraggable(popupModify);
        makeDraggable(popupRegist);

    };

    // 드래그 가능하게 하는 함수
    function makeDraggable(element) {
        let isDragging = false;
        let offsetX, offsetY;

        const header = element.querySelector('.popup-content');

        header.addEventListener('mousedown', (e) => {
            isDragging = true;
            offsetX = e.clientX - element.getBoundingClientRect().left;
            offsetY = e.clientY - element.getBoundingClientRect().top;
        });

        document.addEventListener('mousemove', (e) => {
            if (isDragging) {
                element.style.left = `${e.clientX - offsetX}px`;
                element.style.top = `${e.clientY - offsetY}px`;
            }
        });

        document.addEventListener('mouseup', () => {
            isDragging = false;
        });
    }

    // 전체 선택 체크박스
    const selectAllCheckbox = document.getElementById('selectAll');

    // 각 체크박스들
    const checkboxes = document.querySelectorAll('.checkbox');

    // '전체 선택' 체크박스를 클릭
    selectAllCheckbox.addEventListener('change', function() {
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = selectAllCheckbox.checked;

            // 배경색 지정
            const td = checkbox.closest('tr').querySelectorAll('td');
            td.forEach(function(cell) {
                cell.style.backgroundColor = checkbox.checked ? '#f7f5f2' : '';
            });
        });
    });

    // 체크박스 컨트롤
    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
            // 전체 체크박스가 체크되지 않으면 해제
            if (!checkbox.checked) {
                selectAllCheckbox.checked = false; // 전체 선택 체크박스 해제
            } else {
                // 모든 체크박스가 체크되어 있는지 확인
                const allChecked = Array.from(checkboxes).every(function(cb) {
                    return cb.checked;
                });
                selectAllCheckbox.checked = allChecked; // 모든 체크박스가 체크되어 있으면 전체 선택 체크박스 체크
            }

            // 배경색 지정
            const td = checkbox.closest('tr').querySelectorAll('td'); // 체크박스가 있는 모든 <td>
            td.forEach(function(cell) {
                cell.style.backgroundColor = checkbox.checked ? '#f7f5f2' : '';
            });
        });
    });



    // 팝업창 열기 및 닫기 기능
    const popupModify = document.getElementById('popup-modify');
    const popupRegist = document.getElementById('popup-regist');
    const closeBtn = document.querySelectorAll('.close-btn');
    const closeBtn2 = document.querySelector('.close-btn2');
    const closeBtn3 = document.querySelector('.close-btn3');
    const forPopup = document.querySelectorAll('.for-popup');


    // 판매목록 각각에 해당하는 상세목록 팝업창 열기 ** 상세조회 **
    function handleClick(row, event) {
        if (event.target.tagName === 'INPUT' && event.target.type === 'checkbox') {
            return;
        }

        $('#modiOrderSdate').val(event.target.parentElement.children[2].innerText);
        $('#modiClientName').val(event.target.parentElement.children[3].innerText);
        $('#modiEmployeeName').val(event.target.parentElement.children[6].innerText);
        $('#deliveryStatus').val(event.target.parentElement.children[7].innerText);

        // 클릭된 tr 안에 있는 td 요소들을 가져오기
        const tdElements = row.getElementsByTagName('td');

        // 각 td에 해당하는 input이나 select에 값을 채워넣기
        const mappings = [
            { name: 'orderHeaderNo', index: 1 },
            { name: 'orderSdate', index: 2 },
            { name: 'clientName', index: 3 },
            { name: 'employeeName', index: 6 },
            { name: 'deliveryStatus', index: 7 },
            { name: 'delivery', index: 8 }
        ];

        mappings.forEach(mapping => {
            const tdValue = tdElements[mapping.index].innerText || tdElements[mapping.index].textContent;

            const inputField = document.querySelector(`[name="${mapping.name}"]`);

            if (inputField) {
                if (inputField.tagName === 'SELECT') {
                    const options = Array.from(inputField.options);
                    const matchingOption = options.find(option => option.text === tdValue);
                    if (matchingOption) {
                        inputField.value = matchingOption.value;
                    }
                } else {
                    inputField.value = tdValue;
                }
            }
        });

        //오더헤더 위치 찾기
        const orderHeaderNo = tdElements[1].innerText || tdElements[1].textContent;
        //order_item테이블에서 모든 배열 개수 먼저 세고 그만큼 행 추가하기
        $.ajax({
            url: '/sales/getOrderItemCount',
            type: 'get',
            data: { orderHeaderNo: orderHeaderNo },
            dataType: 'json',
            success: function(count) {
                // 여기서 count는 itemCount입니다
                console.log("Item Count:", count);

                $.ajax({
                    url: '/sales/getOrderItems',
                    type: 'get',
                    data: { orderHeaderNo: orderHeaderNo },
                    dataType: 'json',
                    success: function(data) {
                        var tbody = $('.order-items-tbody');

                        // 기존 상품 품목 행을 초기화
                        tbody.empty();

                        // itemCount만큼 행 생성
                        $.each(data, function(index, item) {
                            var newRow = `
                        <tr style="white-space: nowrap;">
                            <td><input type="text" name="orderItems[${index}].productName[]" value="${item.productName}" readonly></td>
                            <td><input type="text" name="orderItems[${index}].contractPrice[]" value="${item.contractPrice}" readonly></td>
                            <td><input type="number" name="orderItems[${index}].productQuantity[]" class="productQuantity" value="${item.productQuantity}" oninput="updateAmount()" readonly></td>
                            <td><input type="number" name="orderItems[${index}].amount[]" class="amount" value="${item.amount}" readonly></td>
                        </tr>

                    `;

                            // tbody에 새 행 추가
                            tbody.append(newRow);
                        });
                    },
                    error: function() {
                        alert('데이터를 가져오는 데 실패했습니다.');
                    }
                });
            },
            error: function() {
                alert('아이템 수를 가져오는 데 실패했습니다.');
            }

        });


        popupModify.style.display = 'block';
    }

    // 체크박스 누르면 누른 행 색상 변하게
    function toggleRow(checkbox) {
        const row = checkbox.closest('tr'); // 체크박스가 속한 tr 요소를 찾음
        const tds = row.getElementsByTagName('td'); // 해당 tr의 모든 td 요소를 가져옴

        // 모든 td의 배경색과 투명도를 설정
        for (const td of tds) {
            td.style.backgroundColor = checkbox.checked ? '#f7f5f2' : '';
        }
    }

    // 체크박스 클릭 시 toggleRow 함수 호출
    document.querySelectorAll('.checkbox').forEach(checkbox => {
        checkbox.addEventListener('click', () => toggleRow(checkbox));
    });

    // 수정 버튼 클릭 시 호출
    document.querySelector('button[type="submit"]').addEventListener('click', enableEditing);

    // 고객사명 change event
    function changeClientName(event) {

        $.ajax({
            url: '/sales/getClientContent',
            type: 'get',
            data: {clientNo : event.target.value},
            dataType: 'json',
            success: function(data) {

                $('.clientBusinessNo').val(data.clientBusinessNo);
                $('.managerName').val(data.managerName);
                $('.managerPhone').val(data.managerPhone);

                $('.productNo').html('<option>-상품-</option>');
                $('.contractPrice').val('');
                $('.productQuantity').val('');
                $('.amount').val('');

                $.ajax({
                    url: '/sales/getProductList',
                    type: 'get',
                    data: {clientNo : data.clientNo},
                    dataType: 'json',
                    success: function(data2) {
                        var html = '<option>-상품-</option>';
                        $.each(data2, function(index2, obj2) {
                            html += '<option value="' + obj2.productNo + '">' + obj2.productName + '</option>';
                        });
                        $('.productNo').html(html);
                    },
                    error: function() {
                        $('.productNo').html('<option>판매중인 상품이 없습니다.(품절/단종)</option>');
                    }
                });

                // 동적 행 제거(고객사 바뀌면 추가된 행들 제거)
                var inputContainer = document.getElementById('inputContainer');
                while (inputContainer.rows.length > 1) {
                    inputContainer.deleteRow(1); // 첫 번째 행 이후의 모든 행 제거
                }

            },
            error: function() {
                $('.clientBusinessNo').val('');
                $('.managerName').val('');
                $('.managerPhone').val('');
            }
        });
    }

    // 등록 시 상품 합계 업데이트
    function calculateTotalAmount() {
        const amountInputs = document.querySelectorAll('.amount');
        let total = 0;

        amountInputs.forEach(input => {
            const value = parseFloat(input.value) || 0; // 빈 값이나 NaN일 경우 0으로 처리
            total += value;
        });

        document.getElementById('totalAmount').value = total.toFixed(0);
    }


    function updateAmount(event) {
        const currentStock = parseFloat(event.target.parentElement.parentElement.children[5].children[0].value);
        const saleQuantity = parseFloat(event.target.value);

        if(saleQuantity > currentStock) {
            alert("현재 재고보다 개수가 많습니다.");
            saleQuantity = '';
        }

        const rows = document.querySelectorAll('#dynamicRow');

        rows.forEach(row => {
            const contractPrice = row.querySelector('.contractPrice');
            const productQuantity = row.querySelector('.productQuantity');
            const amount = row.querySelector('.amount');

            if (contractPrice && productQuantity && amount) {
                const price = parseFloat(contractPrice.value) || 0;
                const qty = parseFloat(productQuantity.value) || 0;

                if (qty < 1) {
                    productQuantity.value = 1;
                    amount.value = '';
                } else {
                    amount.value = price * qty;
                }
            }
        });


        //수정페이지
        const rowsItems = document.querySelectorAll('.order-items-tbody tr');

        rowsItems.forEach(row => {

            const contractPrice = row.querySelector('input[name^="orderItems"][name$="contractPrice[]"]');
            const productQuantity = row.querySelector('input[name^="orderItems"][name$="productQuantity[]"]');
            const amount = row.querySelector('input[name^="orderItems"][name$="amount[]"]');

            if (contractPrice && productQuantity && amount) {
                const price = parseFloat(contractPrice.value) || 0;
                const qty = parseFloat(productQuantity.value) || 0;

                if (qty < 1) {
                    productQuantity.value = 1;
                    amount.value = price * 1;
                } else {
                    amount.value = price * qty;
                }
            } else {
                console.error('amount error');
            }
        });
        calculateTotalAmount();
    }


    //배송완료되면 해당 날짜 배송일로 지정
    function updateDeliveryDate() {
        const rows = document.querySelectorAll('.product_list');

        rows.forEach(row => {
            const checkbox = row.querySelector('.checkbox');
            const deliveryStatusCell = row.cells[7];
            const deliveryDateInput = row.cells[8];

            if (checkbox.checked) {
                deliveryStatusCell.innerText = '배송완료';

                const currentDate = new Date();

                // 로컬 시간 기준으로 YYYY-MM-DD 형식으로 포맷
                const year = currentDate.getFullYear();
                const month = String(currentDate.getMonth() + 1).padStart(2, '0');
                const day = String(currentDate.getDate()).padStart(2, '0');

                // YYYY-MM-DD 형식으로 포맷
                const formattedDate = `${year}-${month}-${day}`;
                deliveryDateInput.value = formattedDate;
            }
        });
    }



    // 페이지 로드 후 초기화
    window.onload = initializeCurrency;

    document.addEventListener('DOMContentLoaded', function() {
        checkOrderStatus();
    })



    // 팝업창 닫기
    function closePopupModify() {
        popupModify.style.display = 'none'; //팝업창 닫기
        $('.modifyButton').css('display', 'inline-block'); //수정버튼으로 원복
        $('.modifySubmitButton').css('display', 'none'); //저장버튼 비활성화
        $('.approveButton').css('display', 'inline-block');
        $('.rejectButton').css('display', 'inline-block');
    }
    function closePopupRegist() {
        popupRegist.style.display = 'none';
    }

    //등록팝업 유효성 검사처리
    function checkValue(input) {
        const errorText = input.nextElementSibling.nextElementSibling;
        if(input.value.trim() !== "") {
            errorText.style.display = "none";
        } else {
            errorText.style.display = "block";
        }
    }

    //재고확인 (최대판매가능개수 = 재고)
    function checkInventory(event) {
        const row = event.target.closest('tr');
        const inventoryQuantity = parseInt(row.querySelector('.inventoryQuantity').value) || 0;
        const productQuantityInput = row.querySelector('.productQuantity');

        productQuantityInput.max = inventoryQuantity;

    }



    // 배송완료 처리하기 ajax
    function closeDeliveryStatus() {
        // 체크된 행을 선택합니다.
        const checkedRows = document.querySelectorAll('#dataTable .checkbox:checked');


        if (checkedRows.length === 0) {
            alert('배송 완료 처리할 항목을 선택하세요.');
            return;
        }
        let alreadyCompleted = false;

        checkedRows.forEach(checkbox => {
            const row = checkbox.closest('tr');
            const deliveryStatus = row.cells[7].innerText;

            if (deliveryStatus === '배송완료') {
                alreadyCompleted = true;
            }
        });

        if (alreadyCompleted) {
            alert('이미 배송완료 처리된 항목이 있습니다.');

            checkedRows.forEach(checkbox => {
                checkbox.checked = false;
            });
            selectAllCheckbox.checked = false;
            return;
        }

        // 각 체크된 행의 주문 헤더 번호 모아보기
        const orderHeaderNos = Array.from(checkedRows).map(checkbox => {
            const row = checkbox.closest('tr');
            return row.children[1].innerText; // 주문 헤더 번호
        });

        // AJAX 요청을 통해 데이터 업데이트
        $.ajax({
            url: '/sales/updateDeliveryStatus',
            type: 'POST',
            traditional: true,
            data: {
                orderHeaderNos: orderHeaderNos
            },
            success: function(response) {

                checkedRows.forEach(checkbox => {
                    const row = checkbox.closest('tr');
                    row.cells[7].innerText = '배송완료';
                    row.cells[8].innerText = new Date().toLocaleDateString();
                    row.style.backgroundColor = '#e3e3e3';
                    row.style.opacity = '0.5';

                    checkbox.checked = false;
                });
                alert('배송완료 처리되었습니다.');
            },
            error: function(error) {
                alert('배송 완료 처리 중 오류가 발생했습니다.');
            }
        });
    }


    function handleClick2(tdValue) { //등록페이지
        //사원리스트 가져오기(판매담당자 선택)
        $.ajax({
            url: '/sales/getEmployeeList',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                var html = '<option>-사원-</option>';
                $.each(data, function(index, obj) {
                    html += '<option value="' + obj.employeeNo + '">' + obj.employeeName + '</option>';
                });
                $('.employeeName').html(html);
            },
            error: function() {
                alert('fail');
            }
        });

        //고객리스트 가져오기(고객사 선택)
        $.ajax({
            url: '/sales/getClientList',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                var html = '<option>-고객사-</option>';
                $.each(data, function(index, obj) {
                    html += '<option value="' + obj.clientNo + '">' + obj.clientName + '</option>';
                });
                $('.clientNo').html(html);
            },
            error: function() {
                alert('fail');
            }
        });


        $.ajax({
        url: '/sales/getEmployeeContent',
        type: 'get',
        data: {employeeNo : employeeNo},
        dataType: 'json',
        success: function(data) {
        //clientName이 변경되면 해당 고객사정보도 변경
        $('.employeeNo').val(data.employeeName);
        $('.employeePhone').val(data.employeePhone);
        $('.employeeEmail').val(data.employeeEmail);

        // 데이터베이스에 저장될 값: employeeNo
        $('input[name="employeeNo"]').val(data.employeeNo); // 숨겨진 input에 employeeNo 설정

        },
        error: function() {
        $('.employeeNo').val('');
        $('.employeePhone').val('');
        $('.employeeEmail').val('');
        $('input[name="employeeNo"]').val('');
        }
        });

    const popupRegist = document.getElementById('popup-regist');
    popupRegist.style.display = 'block';
    }



</script>
</html>