<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>



    // regist - 상품품목 및 책정거래가 새로운 input 추가
    function addRow() {
        // 마지막 행을 가져와서 복사본 생성
        const rows = document.querySelectorAll('#inputContainer tr');
        const lastRow = rows[rows.length - 1];

        // 새 행 생성
        const newRow = lastRow.cloneNode(true);

        // 새 행의 input,select의 name 속성 업데이트
        const newRowInputs = newRow.querySelectorAll('input, select');
        newRowInputs.forEach((element) => {
            // 기존 name 속성에서 배열 인덱스를 추출하여 업데이트
            element.name = element.name.replace(/\[\d+\]/, `[${rows.length}]`);
        });

        // 새 행 값초기화
        newRow.querySelectorAll('input').forEach(input => {
            input.value = '';
            // contractPrice, inventoryQuantity, amount : readonly
            if (input.classList.contains('contractPrice') ||
            input.classList.contains('inventoryQuantity') ||
            input.classList.contains('amount')) {
                input.readOnly = true;  // 이 필드들은 항상 readonly로 유지
            } else {
                input.readOnly = false;  // 나머지 필드는 신규 행에서 활성화
            }
        });

        // 새 행의 select 필드에 개별적으로 getPrice 연결
        newRow.querySelectorAll('select').forEach(select => {
            select.selectedIndex = 0; // 기본 옵션으로 초기화
            select.disabled = false; // 새 행의 select 필드 활성화
            select.addEventListener('change', function(event) {
                const selectedRow = event.target.closest('tr'); // 선택된 select의 부모 tr 찾기
                getPrice(selectedRow); // 선택된 행에 대해 getPrice 호출
            });
        });



        // 기존 행의 add-button 삭제
        const addButton = lastRow.querySelector('.add-button');
        if (addButton) {
            addButton.remove(); // 기존 행의 추가 버튼 제거
        }

        // 새 행의 삭제 버튼에 이벤트 리스너 추가
        const removeButton = newRow.querySelector('.remove-button');
        if (removeButton) {
            removeButton.addEventListener('click', function() {
                removeRow(removeButton);
            });
        }

        // 새 행의 입력 필드에 이벤트 리스너 추가
        const productQuantityInput = newRow.querySelector('.productQuantity');
        if (productQuantityInput) {
            productQuantityInput.addEventListener('input', updateAmount);
        }

        // 새 행을 테이블에 추가
        document.getElementById('inputContainer').appendChild(newRow);
    }

    function getPrice(event) {

        $.ajax({
            url: '/sales/getProductPrice',
            type: 'get',
            data: {productNo : event.target.value, clientNo : event.target.parentElement.parentElement.parentElement.parentElement.querySelector('.clientNo').value},
            dataType: 'text',
            success: function(data) {

                const currentRow = event.target.closest('tr'); // 이벤트가 발생한 현재행
                const contractPriceInput = currentRow.querySelector('.contractPrice'); // 현재행의 contractPrice
                const productQuantityInput = currentRow.querySelector('.productQuantity'); // 현재행의 productQuantity
                const amountInput = currentRow.querySelector('.amount'); // 현재행의 amount

                contractPriceInput.value = data;
                productQuantityInput.value = '';
                amountInput.value = '';

            },
            error: function() {
                alert('error');
            }
        });

        $.ajax({
            url: '/sales/getInventoryQuantity',
            type: 'get',
            data: {productNo : event.target.value},
            dataType: 'text',
            success: function(data) {

                const currentRow = event.target.closest('tr'); // 이벤트가 발생한 현재행
                const inventoryQuantityInput = currentRow.querySelector('.inventoryQuantity'); // 현재행의 inventoryQuantity

                inventoryQuantityInput.value = data;
            },
            error: function() {
                alert('error');
            }
        });
    }

    function removeRow(button) {
        // 버튼이 위치한 행을 찾는다
        const row = button.closest('tr');

        // 해당 행에 `add-button`이 있는지 확인
        const addButton = row.querySelector('.add-button');

        // `add-button`이 없는 경우에만 행을 삭제
        if (!addButton) {
            row.remove();
        }
    }


</script>

<th:block th:replace="~{./common/thymeleafView::setContent(~{::.content})}">
    <div class="content">
        <div class="order-wrap">
            <div class="text-wrap">
                <p>판매조회</p>
                <p>❉ 조회 또는 수정을 원하시면 원하는 항목을 선택해주세요. </p>
            </div>
            <div class="order-title">
                <div class="filter-content">
                    <form action="order" method="get">
                        <!-- ----- 여기에 조건별 검색기능 추가(검색 조건은 많을수록 좋습니다) -->
                        <div class="filter-main">
                            <h3>상세내역검색</h3>
                            <button type="submit" class="filter-button">검색하기</button>
                            <button type="button" onclick="location.href='/sales/order'" class="filter-button">전체보기</button>
                        </div>

                        <table>
                            <tr class="left-row" style="white-space: nowrap;">
                                <td><p>판매등록일자</p></td>
                                <td><input type="date" name="orderSdate" id="saleDateInput" th:value="${pageVO.cri.orderSdate}"></td>
                                <td><p>고객사명</p></td>
                                <td><input type="text" name="clientName" id="clientNameInput" class="clientNo"
                                           th:value="${pageVO.cri.clientName}">
                                </td>
                                <td><p>상품명</p></td>
                                <td><input type="text" name="productName" th:value="${pageVO.cri.productName}"></td>
<!--                                <td colspan="2"></td>-->
                            </tr>
                            <tr>
                                <td><p>판매담당자명</p></td>
                                <td><input type="text" name="employeeName" id="employeeName" th:value="${pageVO.cri.employeeName}"></td>
<!--                                <td><p>판매승인상태</p></td>-->
<!--                                <td>-->
<!--                                    <select name="orderStatus">-->
<!--                                        <option value="">-</option>-->
<!--                                        <option th:selected="${pageVO.cri.orderStatus == '승인'}">승인</option>-->
<!--                                        <option th:selected="${pageVO.cri.orderStatus == '반려'}">반려</option>-->
<!--                                        <option th:selected="${pageVO.cri.orderStatus == '재승인요청'}">재승인요청</option>-->
<!--                                    </select>-->
<!--                                </td>-->
                                <td><p>배송상태</p></td>
                                <td>
                                    <select name="deliveryStatus">
                                        <option value="">-</option>
                                        <option th:selected="${pageVO.cri.deliveryStatus == '배송대기'}">배송대기</option>
                                        <option th:selected="${pageVO.cri.deliveryStatus == '배송중'}">배송중</option>
                                        <option th:selected="${pageVO.cri.deliveryStatus == '배송완료'}">배송완료</option>
                                    </select>
                                </td>
                                <td><p>배송일</p></td>
                                <td><input type="date" name="deliveryDate" th:value="${pageVO.cri.deliveryDate}"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <table id="dataTable">
                <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th>no</th>
                    <th>판매등록일자</th>
                    <th>고객사명</th>
                    <th>상품리스트</th>
                    <th>총거래가</th>
                    <th>판매담당자명</th>
<!--                    <th>판매승인상태</th>-->
                    <th>배송상태</th>
                    <th>배송일</th>
                </tr>
                </thead>

                <tbody>
                    <tr th:each="vo : ${list}"
                        onclick="handleClick(this, event)"
                        class="product_list"
                        th:attr="style=${vo.deliveryStatus} == '배송완료' ? 'background-color: #e3e3e3; opacity: 0.5;' : ''">
                        <td><input type="checkbox" class="checkbox" onclick="toggleRow(this)"></td>
                        <td th:text="${vo.orderHeaderNo}"></td>
                        <td th:text="${#dates.format(vo.orderSdate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${vo.clientName}" onclick="handleClick(this.innerHTML)"></td>
                        <td th:text="${vo.productNames}"></td>
                        <td th:text="${vo.totalAmount} + '원'"></td>
                        <td th:text="${vo.employeeName}" ></td>
<!--                        <td th:text="${vo.orderStatus}" ></td>-->
                        <td th:text="${vo.deliveryStatus}" ></td>
                        <td th:text="${#dates.format(vo.delivery, 'yyyy-MM-dd')}" ></td>
                    </tr>
                </tbody>

            </table>

            <div class="buttons">
<!--                <div class="button-left">-->
<!--                    <button>Excel로 내보내기</button>-->
<!--                    <button>계약서 저장</button>-->
<!--                </div>-->
                <button class="button-regist button-right" onclick="handleClick2(this.innerHTML)">판매등록</button>
            </div>

            <div class="center">
                <div class="page">
                    <th:block th:replace="~{./sales/orderPagination::page(${pageVO})}"></th:block>
                </div>
            </div>
        </div>

        <div id="popup-modify" class="popup-modify" onsubmit="return confirmSubmit(event)">
            <form name="updateOrder" action="/sales/updateOrder" method="post">
                <div class="popup-content">
                <h2>판매내역 상세보기</h2>
                <div class="popup-list">
                    <table class="order-modify-table">
                        <tbody>
                        <tr style="white-space: nowrap;">
                            <td><p>판매등록번호</p></td>
                            <td><input type="number" name="orderHeaderNo" readonly></td>
                            <td><p>판매등록일자</p></td>
                            <td><input type="date" name="orderSdate" id="modiOrderSdate" readonly></td>
                            <td colspan="2"><p>고객사명</p></td>
                            <td colspan="2"><input type="text" name="clientName" id="modiClientName" readonly></td>
                        </tr>
                        </tbody>

                        <tbody class="order-items-tbody">
                            <tr class="modify-items-detail" style="white-space: nowrap;">
                                <td><p>상품품목명</p></td>
                                <td><input type="text" name="orderItems[0].productName[]" class="productName" readonly></td>
                                <td><p>책정거래가</p></td>
                                <td><input type="text" name="orderItems[0].contractPrice[]" class="contractPrice" readonly></td>
                                <td><p>개수</p></td>
                                <td><input type="number" name="orderItems[0].productQuantity[]" class="productQuantity"></td>
                                <td><p>금액</p></td>
                                <td><input type="number" name="orderItems[0].amount[]" class="amount"></td>
                            <tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td><p>판매담당자</p></td>
                                <td><input type="text" name="employeeName" id="modiEmployeeName" readonly></td>
<!--                                <td><p>판매승인상태 *</p></td>-->
<!--                                <td><input name="orderStatus" id="modiOrderStatus" readonly></td>-->
                                <td class="deliveryStatus"><p>배송상태</p></td>
                                <td>
                                    <select name="deliveryStatus" id="deliveryStatus" onchange="updateDeliveryDate()" disabled>
                                        <option selected>-</option>
                                        <option>배송대기</option>
                                        <option>배송중</option>
                                        <option>배송완료</option>
                                    </select>
                                </td>
                                <td colspan="2"><p>배송일</p></td>
                                <td colspan="2"><input type="text" id="deliveryDate" name="delivery" readonly></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="popup-button">
                    <div class="button-left">
<!--                        <button type="submit" class="approveButton" onclick="approveOrder()">승인</button>-->
<!--                        <button type="submit" class="rejectButton" onclick="rejectOrder()">반려</button>-->
                        <button type="button" class="deliveryInfoButton" onclick="deliveryInfoRegist()">배송정보입력</button>
                    </div>
                    <div class="button-right">
<!--                        <button type="button" onclick="editButtonClick()" class="modifyButton">수정</button>-->
                        <button type="submit" class="modifySubmitButton" style="display: none">저장</button>
                        <button type="button" onclick="closePopupModify()">닫기</button>
                    </div>
                </div>
            </div>
            </form>
        </div>


        <div id="popup-regist" class="popup-regist">
            <form name="orderForm" action="/sales/orderForm" method="post">
                <div class="popup-content" style="width: 900px !important;">
                <h2>판매등록</h2>
                <div class="popup-list">
                    <table class="order-regist-table">
                        <tbody>
                            <tr class="left-row">
                                <td><p>등록일자</p></td>
                                <td><input type="date" id="dateField" name="orderSdate" class="orderSdate" readonly/></td>
                                <td><p>판매담당자</p></td>
                                <td><input type="text" name="employeeNo" th:value="${#authentication.principal.employeeName}" readonly></td>
                                <td colspan="2"><p>판매자 연락처</p></td>
                                <td colspan="2"><input type="text" class="employeePhone" disabled></td>
                                <td colspan="2"><p>판매자 이메일</p></td>
                                <td colspan="2"><input type="text" class="employeeEmail" disabled></td>
                            </tr>
                            <tr class="left-row">
                                <td><p>고객사</p></td>
                                <td><select class="clientNo" name="clientNo" onchange="changeClientName(event)" required></select></td>
                                <td><p>사업자번호</p></td>
                                <td><input type="text" class="clientBusinessNo" disabled></td>
                                <td colspan="2"><p>담당자</p></td>
                                <td colspan="2"><input type="text" class="managerName" disabled></td>
                                <td colspan="2"><p>담당자 연락처</p></td>
                                <td colspan="2"><input type="text" class="managerPhone" disabled></td>
                            </tr>
                        </tbody>
                        <tbody id="inputContainer" class="input-wrapper">
                            <tr id="dynamicRow" style="white-space: nowrap;">
                                <td><p>상품명</p></td>
                                <td>
                                    <select name="orderItems[0].productNo[]" class="productNo" onchange="getPrice(event)">
                                        <option value="" disabled selected>-상품-</option>
                                    </select>
                                </td>
                                <td><p>책정거래가</p></td>
                                <td><input type="number" name="orderItems[0].contractPrice[]" class="contractPrice" readonly required></td>
                                <td><p>재고</p></td>
                                <td><input type="text" name="inventoryQuantity" id="inventoryQuantity" class="inventoryQuantity" readonly required></td>
                                <td><p>개수</p></td>
                                <td><input type="number" name="orderItems[0].productQuantity[]" class="productQuantity" oninput="updateAmount(event)" required></td>
                                <td><p>금액</p></td>
                                <td><input type="number" name="orderItems[0].amount[]" class="amount" readonly required></td>
                                <td colspan="2">
                                    <button type="button" class="add-button" onclick="addRow()"
                                            style="width: 50px; background-image: none; color: black; margin:0px; border: 1px solid #e3e3e3;">추가</button>
                                    <button type="button" class="remove-button" onclick="removeRow(this)"
                                            style="width: 50px; background-image: none; color: black; margin: 0px; border: 1px solid #e3e3e3;">제거</button>
                                </td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
<!--                                <td><p>승인상태</p></td>-->
<!--                                <td><input type="text" name="orderStatus" placeholder="-" value="-" readonly style="text-align: center;"></td>-->
                                <td><p>배송상태</p></td>
                                <td><input type="text" name="deliveryStatus" placeholder="-" value="-"  readonly style="text-align: center;"></td>
                                <td><p>배송일</p></td>
                                <td><input type="date" name="delivery" readonly></td>
                                <td colspan="4"><p>합계</p></td>
                                <td colspan="4"><input type="text" id="totalAmount" disabled></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="popup-button">
<!--                    <div class="button-left">-->
<!--                        <button>계약서 첨부</button>-->
<!--                    </div>-->
                    <div class="button-right">
                        <button type="submit" onclick="handleSubmit()">등록</button>
                        <button type="button" class="close-btn3" onclick="closePopupRegist()">닫기</button>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</th:block>
<script th:inline="javascript">


    window.onload = function () {

        //판매등록일자 sysdate설정
        var today = new Date();
        var yyyy = today.getFullYear();
        var mm = today.getMonth() + 1; // Months start at 0
        var dd = today.getDate();

        if (mm < 10) mm = '0' + mm;
        if (dd < 10) dd = '0' + dd;

        var formattedDate = yyyy + '-' + mm + '-' + dd;

        document.getElementById('dateField').value = formattedDate;

        // 드래그 기능을 추가할 팝업창 요소 선택
        const popupModify = document.getElementById('popup-modify');
        const popupRegist = document.getElementById('popup-regist');

        // 드래그 가능하게 만들기
        makeDraggable(popupModify);
        makeDraggable(popupRegist);

    };

    // 드래그 가능하게 하는 함수
    function makeDraggable(element) {
        let isDragging = false;
        let offsetX, offsetY;

        const header = element.querySelector('.popup-content');

        header.addEventListener('mousedown', (e) => {
            isDragging = true;
            offsetX = e.clientX - element.getBoundingClientRect().left;
            offsetY = e.clientY - element.getBoundingClientRect().top;
        });

        document.addEventListener('mousemove', (e) => {
            if (isDragging) {
                element.style.left = `${e.clientX - offsetX}px`;
                element.style.top = `${e.clientY - offsetY}px`;
            }
        });

        document.addEventListener('mouseup', () => {
            isDragging = false;
        });
    }

    // 전체 선택 체크박스
    const selectAllCheckbox = document.getElementById('selectAll');

    // 각 체크박스들
    const checkboxes = document.querySelectorAll('.checkbox');

    // '전체 선택' 체크박스를 클릭
    selectAllCheckbox.addEventListener('change', function() {
        checkboxes.forEach(function(checkbox) {
            checkbox.checked = selectAllCheckbox.checked;

            // 배경색 지정
            const td = checkbox.closest('tr').querySelectorAll('td'); // 체크박스가 있는 모든 <td>
            td.forEach(function(cell) {
                cell.style.backgroundColor = checkbox.checked ? '#f7f5f2' : '';
            });
        });
    });


    // 팝업창 열기 및 닫기 기능
    const popupModify = document.getElementById('popup-modify');
    const popupRegist = document.getElementById('popup-regist');
    const closeBtn = document.querySelectorAll('.close-btn');
    const closeBtn2 = document.querySelector('.close-btn2');
    const closeBtn3 = document.querySelector('.close-btn3');
    const forPopup = document.querySelectorAll('.for-popup');


    // 판매목록 각각에 해당하는 상세목록 팝업창 열기 ** 상세조회 **
    function handleClick(row, event) {
        // 클릭된 요소가 checkbox인 경우, 함수 종료
        if (event.target.tagName === 'INPUT' && event.target.type === 'checkbox') {
            return;
        }

        $('#modiOrderSdate').val(event.target.parentElement.children[2].innerText);
        $('#modiClientName').val(event.target.parentElement.children[3].innerText);
        $('#modiEmployeeName').val(event.target.parentElement.children[6].innerText);
//        $('#modiOrderStatus').val(event.target.parentElement.children[7].innerText);
        $('#deliveryStatus').val(event.target.parentElement.children[7].innerText);

        // 클릭된 tr 안에 있는 td 요소들을 가져오기
        const tdElements = row.getElementsByTagName('td');

        // 각 td에 해당하는 input이나 select에 값을 채워넣기
        const mappings = [
            { name: 'orderHeaderNo', index: 1 },
            { name: 'orderSdate', index: 2 },
            { name: 'clientName', index: 3 },
            { name: 'employeeName', index: 6 },
//            { name: 'orderStatus', index: 7 },
            { name: 'deliveryStatus', index: 7 },
            { name: 'delivery', index: 8 }
        ];

        mappings.forEach(mapping => {
            const tdValue = tdElements[mapping.index].innerText || tdElements[mapping.index].textContent;
            //console.log(`${mapping.name}:`, tdValue); // 값을 로그로 출력

            const inputField = document.querySelector(`[name="${mapping.name}"]`);

            // input이나 select에 값을 설정
            if (inputField) {
                if (inputField.tagName === 'SELECT') {
                    const options = Array.from(inputField.options);
                    const matchingOption = options.find(option => option.text === tdValue);
                    if (matchingOption) {
                        inputField.value = matchingOption.value;
                    }
                } else {
                    inputField.value = tdValue;
                }
            }
        });
        // 배송 상태에 따라 배송정보입력 버튼 표시 여부 결정
        const deliveryInfoButton = document.querySelector('.deliveryInfoButton');
        const selectedStatus = $('#deliveryStatus').val();

        if (selectedStatus === '배송완료') {
            deliveryInfoButton.style.display = 'none'; // 버튼 숨기기
        } else {
            deliveryInfoButton.style.display = 'inline-block'; // 버튼 보이기
        }

        //오더헤더 위치 찾기
        const orderHeaderNo = tdElements[1].innerText || tdElements[1].textContent;
        //order_item테이블에서 모든 배열 개수 먼저 세고 그만큼 행 추가하기
        $.ajax({
            url: '/sales/getOrderItemCount',
            type: 'get',
            data: { orderHeaderNo: orderHeaderNo },
            dataType: 'json',
            success: function(count) {
                // 여기서 count는 itemCount입니다
                console.log("Item Count:", count);

                // itemCount를 가져온 후 orderItems를 요청합니다
                $.ajax({
                    url: '/sales/getOrderItems',
                    type: 'get',
                    data: { orderHeaderNo: orderHeaderNo },
                    dataType: 'json',
                    success: function(data) {
                        var tbody = $('.order-items-tbody'); // 클래스로 tbody 선택

                        // 기존 상품 품목 행을 초기화
                        tbody.empty();

                        // itemCount만큼 행 생성
                        $.each(data, function(index, item) {
                            var newRow = `
                        <tr style="white-space: nowrap;">
                            <td><p>상품품목명</p></td>
                            <td><input type="text" name="orderItems[${index}].productName[]" value="${item.productName}" readonly></td>
                            <td><p>책정거래가</p></td>
                            <td><input type="text" name="orderItems[${index}].contractPrice[]" value="${item.contractPrice}" readonly></td>
                            <td><p>개수</p></td>
                            <td><input type="number" name="orderItems[${index}].productQuantity[]" class="productQuantity" value="${item.productQuantity}" oninput="updateAmount()" readonly></td>
                            <td><p>금액</p></td>
                            <td><input type="number" name="orderItems[${index}].amount[]" class="amount" value="${item.amount}" readonly></td>
                        </tr>

                    `;

                            // tbody에 새 행 추가
                            tbody.append(newRow);
                        });
                    },
                    error: function() {
                        alert('데이터를 가져오는 데 실패했습니다.');
                    }
                });
            },
            error: function() {
                alert('아이템 수를 가져오는 데 실패했습니다.');
            }

        });

        //승인인 조회의 행을 누르면 바로 나타날 화면
//        console.log(event.target.parentElement.children[7].innerText);
//        if(event.target.parentElement.children[7].innerText === '승인') {
//            $('.approveButton').css('display', 'none');
//            $('.rejectButton').css('display', 'none');
//            $('.modifyButton').css('display', 'none');
//            $('.deliveryInfoButton').css('display', 'inline-block'); //배송지정보입력버튼
//        } else if(event.target.parentElement.children[7].innerText === '반려') {
//            $('.deliveryInfoButton').css('display', 'none');
//        }

        popupModify.style.display = 'block';
    }

    // 체크박스 누르면 누른 행 색상 변하게
    function toggleRow(checkbox) {
        const row = checkbox.closest('tr'); // 체크박스가 속한 tr 요소를 찾음
        const tds = row.getElementsByTagName('td'); // 해당 tr의 모든 td 요소를 가져옴

        // 모든 td의 배경색과 투명도를 설정
        for (const td of tds) {
            td.style.backgroundColor = checkbox.checked ? '#f7f5f2' : '';
        }
    }

    // 체크박스 클릭 시 toggleRow 함수 호출
    document.querySelectorAll('.checkbox').forEach(checkbox => {
        checkbox.addEventListener('click', () => toggleRow(checkbox));
    });

    // 수정 버튼 클릭 시 호출
    document.querySelector('button[type="submit"]').addEventListener('click', enableEditing);


    function handleClick2(tdValue) { //등록페이지
        //사원리스트 가져오기(판매담당자 선택)
        $.ajax({
            url: '/sales/getEmployeeList',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                var html = '<option>-사원-</option>';
                $.each(data, function(index, obj) {
                    html += '<option value="' + obj.employeeNo + '">' + obj.employeeName + '</option>';
                });
                $('.employeeName').html(html);
            },
            error: function() {
                alert('fail');
            }
        });

        //고객리스트 가져오기(고객사 선택)
        $.ajax({
            url: '/sales/getClientList',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                var html = '<option>-고객사-</option>';
                $.each(data, function(index, obj) {
                    html += '<option value="' + obj.clientNo + '">' + obj.clientName + '</option>';
                });
                $('.clientNo').html(html);
            },
            error: function() {
                alert('fail');
            }
        });

        $.ajax({
            url: '/sales/getEmployeeContent',
            type: 'get',
            data: {employeeNo : [[${#authentication.principal.username}]]},
        dataType: 'json',
        success: function(data) {
        //clientName이 변경되면 해당 고객사정보도 변경
        $('.employeeName').val(data.employeeName);
        $('.employeePhone').val(data.employeePhone);
        $('.employeeEmail').val(data.employeeEmail);

        // 데이터베이스에 저장될 값: employeeNo
        $('input[name="employeeNo"]').val(data.employeeNo); // 숨겨진 input에 employeeNo 설정

        },
        error: function() {
        $('.employeeNo').val('');
        $('.employeePhone').val('');
        $('.employeeEmail').val('');
        $('input[name="employeeNo"]').val('');
        }
    });

    popupRegist.style.display = 'block';
}
    //사원명 change event
    /*
    function changeEmployeeName(event) {

        $.ajax({
            url: '/sales/getEmployeeContent',
            type: 'get',
            data: {employeeNo : event.target.value},
            dataType: 'json',
            success: function(data) {
            //clientName이 변경되면 해당 고객사정보도 변경
            $('.employeePhone').val(data.employeePhone);
            $('.employeeEmail').val(data.employeeEmail);

         },
        error: function() {
            $('.employeePhone').val('');
            $('.employeeEmail').val('');
             }
        });
    }
    */

    // 고객사명 change event
    function changeClientName(event) {

        $.ajax({
            url: '/sales/getClientContent',
            type: 'get',
            data: {clientNo : event.target.value},
            dataType: 'json',
            success: function(data) {
                //clientName이 변경되면 해당 고객사정보도 변경
                $('.clientBusinessNo').val(data.clientBusinessNo);
                $('.managerName').val(data.managerName);
                $('.managerPhone').val(data.managerPhone);
                //clientName이 변경되면 해당 상품정보도 변경
                $('.productNo').html('<option>-상품-</option>');
                $('.contractPrice').val('');
                $('.productQuantity').val('');
                $('.amount').val('');

                $.ajax({
                    url: '/sales/getProductList',
                    type: 'get',
                    data: {clientNo : data.clientNo},
                    dataType: 'json',
                    success: function(data2) {
                        var html = '<option>-상품-</option>';
                        $.each(data2, function(index2, obj2) {
                            html += '<option value="' + obj2.productNo + '">' + obj2.productName + '</option>';
                        });
                        $('.productNo').html(html);
                    },
                    error: function() {
                        $('.productNo').html('<option>상품 로드 실패</option>');
                    }
                });

                // 동적 행 제거(고객사 바뀌면 추가된 행들 제거)
                var inputContainer = document.getElementById('inputContainer');
                while (inputContainer.rows.length > 1) {
                    inputContainer.deleteRow(1); // 첫 번째 행 이후의 모든 행 제거
                }

            },
            error: function() {
                $('.clientBusinessNo').val('');
                $('.managerName').val('');
                $('.managerPhone').val('');
            }
        });
    }

    // 등록 시 상품 합계 업데이트
    function calculateTotalAmount() {
    const amountInputs = document.querySelectorAll('.amount');
    let total = 0;

    amountInputs.forEach(input => {
    const value = parseFloat(input.value) || 0; // 빈 값이나 NaN일 경우 0으로 처리
    total += value;
    });

    document.getElementById('totalAmount').value = total.toFixed(0); // 소수점 둘째 자리까지 표시
    }


    function updateAmount(event) {
        const currentStock = parseFloat(event.target.parentElement.parentElement.children[5].children[0].value);
        const saleQuantity = parseFloat(event.target.value);

        if(saleQuantity > currentStock) {
            alert("현재 재고보다 개수가 많습니다.");
            saleQuantity = '';
        }

        const rows = document.querySelectorAll('#dynamicRow');

        rows.forEach(row => {
            const contractPrice = row.querySelector('.contractPrice');
            const productQuantity = row.querySelector('.productQuantity');
            const amount = row.querySelector('.amount');

            if (contractPrice && productQuantity && amount) {
                const price = parseFloat(contractPrice.value) || 0;
                const qty = parseFloat(productQuantity.value) || 0;

                if (qty < 1) {
                    productQuantity.value = 1;
                    amount.value = '';
                } else {
                    amount.value = price * qty;
                }
            }
        });


        //수정페이지
        const rowsItems = document.querySelectorAll('.order-items-tbody tr');

        rowsItems.forEach(row => {
            // 각 행에서 책정거래가, 개수, 금액 필드를 찾음
            const contractPrice = row.querySelector('input[name^="orderItems"][name$="contractPrice[]"]');
            const productQuantity = row.querySelector('input[name^="orderItems"][name$="productQuantity[]"]');
            const amount = row.querySelector('input[name^="orderItems"][name$="amount[]"]');

            if (contractPrice && productQuantity && amount) {
                const price = parseFloat(contractPrice.value) || 0;
                const qty = parseFloat(productQuantity.value) || 0;

                if (qty < 1) {
                    productQuantity.value = 1;
                    amount.value = price * 1;
                } else {
                    amount.value = price * qty;
                }
            } else {
                console.error('amount error');
            }
        });
        calculateTotalAmount();
    }

    //판매내역 승인 기능
    function approveOrder() {
        const orderStatusInput = document.querySelector('input[name="orderStatus"]');
        orderStatusInput.value = "승인";
    }

    //판매내역 반려 기능
    function rejectOrder() {
        const orderStatusInput = document.querySelector('input[name="orderStatus"]');
        orderStatusInput.value = "반려";
    }

    //배송정보입력 버튼 누르면 나타나는 기능
    function deliveryInfoRegist() {
        const deliveryStatusSelects = document.querySelectorAll('select[name="deliveryStatus"]'); //배송상태select활성화
        deliveryStatusSelects.forEach(select => {
            select.removeAttribute('disabled');
        });
//
//        const deliveryInputs = document.querySelector('input[name="delivery"]'); //배송일input활성화
//        deliveryInputs.removeAttribute('readonly');

        const modifySubmitButton = document.querySelector('.modifySubmitButton'); //수정내역저장하기버튼
        modifySubmitButton.style.display = 'inline-block';
    }

    //배송완료되면 해당 날짜 배송일로 지정
    function updateDeliveryDate() {
    const deliveryStatusSelect = document.getElementById("deliveryStatus");
    const deliveryDateInput = document.getElementById("deliveryDate");

    const selectedStatus = deliveryStatusSelect.value;

    // 선택된 상태가 '배송완료'일 경우에만 날짜 설정
    if (selectedStatus === "배송완료") {
    const currentDate = new Date();

    // 로컬 시간 기준으로 YYYY-MM-DD 형식으로 포맷
    const year = currentDate.getFullYear();
    const month = String(currentDate.getMonth() + 1).padStart(2, '0');
    const day = String(currentDate.getDate()).padStart(2, '0');

    // YYYY-MM-DD 형식으로 포맷
    const formattedDate = `${year}-${month}-${day}`;

    deliveryDateInput.value = formattedDate;
    } else {
    deliveryDateInput.value = "";
    }
    }



    //수정버튼 누르면 작동할 기능
    function editButtonClick() {

        //readonly 속성 제거
        const productQuantityInputs = document.querySelectorAll('input[name^="orderItems"][name$="productQuantity[]"]');
        productQuantityInputs.forEach(input => {
            input.removeAttribute('readonly');
        });




        // 수정 버튼 클릭 후에 일어날 동작
        $('.modifyButton').css('display', 'none');
        $('.modifySubmitButton').css('display', 'inline-block');
        $('.approveButton').css('display', 'none');
        $('.rejectButton').css('display', 'none');

        checkOrderStatus();
    }

    //판매상태가 반려이면 배송관련 필드 비활성화하기
//    function checkOrderStatus() {
//        const orderStatusInput = document.querySelector('input[name="orderStatus"]');
//        const deliveryStatusSelect = document.querySelector('select[name="deliveryStatus"]');
//        const deliveryInput = document.querySelector('input[name="delivery"]');
//        const deliveryInfoButton = document.querySelector('.deliveryInfoButton');
//
//        if (orderStatusInput.value === '반려') {
//            deliveryStatusSelect.setAttribute('disabled', true);
//            deliveryInput.setAttribute('readonly', true);
//            deliveryInfoButton.style.display = 'none'; // 배송정보입력버튼 숨기기
//
//        } else  { //승인
//            deliveryStatusSelect.removeAttribute('disabled');
//            deliveryInput.removeAttribute('readonly');
//            deliveryInfoButton.style.display = 'inline-block';
//        }
//    }

    document.addEventListener('DOMContentLoaded', function() {
        checkOrderStatus();
    })

    //배송정보 수정하면 1차 질문팝업 + 배송완료면 배송완료처리질문
    function confirmSubmit(event) {
        // 현재 폼 내의 deliveryStatus 선택 요소를 가져옵니다.
        const deliveryStatus = event.target.querySelector('[name="deliveryStatus"]').value;

        // 배송 상태가 '배송완료'일 경우 다른 메시지 표시
        if (deliveryStatus === '배송완료') {
            const isConfirmed = confirm("배송완료 처리하시겠습니까?");
            return isConfirmed;
        } else {
            const isConfirmed = confirm("배송상태를 변경하시겠습니까?");
            return isConfirmed;
        }
    }



    // 팝업창 닫기
    function closePopupModify() {
        popupModify.style.display = 'none'; //팝업창 닫기
        $('.modifyButton').css('display', 'inline-block'); //수정버튼으로 원복
        $('.modifySubmitButton').css('display', 'none'); //저장버튼 비활성화
        $('.approveButton').css('display', 'inline-block');
        $('.rejectButton').css('display', 'inline-block');
    }
    function closePopupRegist() {
        popupRegist.style.display = 'none';
    }


</script>
</html>