<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/inventory/css/product.css" />
    <link rel="stylesheet" href="/common/css/thymeleafView.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" />
  </head>
  <body>
  <header>
    <div class="left">
      <img src="../../common/img/Logo.png" alt="Logo" class="left"/>
    </div>
    <div class="right">
      <img src="../../common/img/userCircle.png" alt="userCircle"/>
      <div>
        <p>신지윤</p>
        <p>개발1팀 / 사원</p>
        <p>cha@oneshot.com</p>
      </div>
      <div class="logout">
<!--        <img src="../../common/img/logout.svg" alt="logoutImg"/>-->
      </div>
    </div>
  </header>

  <div class="wrap">
    <aside class="aside left2">
      <div class="category">
        <div class="title">
          <i class="bi bi-house"></i>
          <p>홈</p>
        </div>
        <div class="submenu">
          <a href="#"><p>홈페이지</p></a>
          <a href="#"><p>내정보</p></a>
        </div>
      </div>
      <div class="category">
        <div class="title">
          <i class="bi bi-person-circle"></i>
          <p>인사관리</p></div>
        <div class="submenu">
          <a href="#"><p>사원관리</p></a>
          <a href="#"><p>부서관리</p></a>
        </div>
      </div>
      <div class="category">
        <div class="title">
          <i class="bi bi-box"></i>
          <p>재고관리</p>
        </div>
        <div class="submenu">
          <a href="#"><p>재고내역관리</p></a>
          <a href="/product/productList"><p>구매내역관리</p></a>
          <a href="/inventory/supplierList"><p>공급업체관리</p></a>
        </div>
      </div>
      <div class="category">
        <div class="title"><i class="bi bi-receipt"></i> 영업관리</div>
        <div class="submenu">
          <a href="/sales/contract"><p>거래가격관리</p></a>
          <a href="/sales/order"><p>판매내역관리</p></a>
        </div>
      </div>


    </aside>

      <!-- 상품Page -->
      <div class="content">
        <div class="product-wrap">
          <div class="product-title">
            <p>상품목록</p>
            <p>❉ 수정을 원하시면 no 및 상품명을 클릭하세요.</p>
          </div>
          <div class="product-filter">
            <input type="text" placeholder="검색어를 입력하세요." />
          </div>
          <table>
            <thead>
              <tr>
                <th><input type="checkbox" id="selectAll" /></th>
                <th>상품번호</th>
                <th>카테고리</th>
                <th>상품명</th>
                <th>판매정가</th>
                <th>구매단가</th>
                <th>이미지</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="vo : ${list}">
                <td><input type="checkbox" /></td>
                <td th:text="${vo.productNo}"></td>
                <td th:text="${vo.categoryName}"></td>
                <td th:text="${vo.productName}"></td>
                <td th:text="${vo.productPrice}"></td>
                <td>계산 추가</td>
                <td>
                  <img
                    th:src="@{/product/display/{productImg}(productImg=${vo.productImg})}"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="buttons">
            <button type="button" onclick="openPopup()">상품등록</button>
            <button type="button">상품수정</button>
            <button type="button">상품구매</button>
          </div>
          <div class="pagination">
            <ul class="page-numbers">
              <li>
                <a
                  th:href="@{/product/productList(page=${currentPage - 1}, size=${size})}"
                  th:if="${currentPage > 0}"
                  >이전</a
                >
              </li>
            </ul>
            <ul
              th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
              class="page-numbers"
            >
              <li>
                <a
                  th:href="@{/product/productList(page=${i}, size=${size})}"
                  th:text="${i + 1}"
                ></a>
              </li>
            </ul>
            <ul class="page-numbers">
              <li>
                <a
                  th:href="@{/product/productList(page=${currentPage + 1}, size=${size})}"
                  th:if="${currentPage < totalPages - 1}"
                  >다음</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="popup-regist">
        <div class="popup-content">
          <h2>상품 등록</h2>
          <div class="popup-list">
            <form
              action="registerProduct"
              method="post"
              enctype="multipart/form-data"
            >
              <input type="hidden" name="supplierNo" id="supplierNo" />
              <table>
                <tr>
                  <td><p>공급업체명</p></td>
                  <td>
                    <select
                      id="supplierList"
                      onchange="changeSupplier(event)"
                    ></select>
                  </td>
                  <td><p>사업자등록번호</p></td>
                  <td>
                    <input
                      type="text"
                      name="supplierBusinessNo"
                      id="supplierBusinessNo"
                      disabled
                    />
                  </td>
                </tr>
                <tr>
                  <td><p>담당자명</p></td>
                  <td>
                    <input
                      type="text"
                      name="managerName"
                      id="managerName"
                      disabled
                    />
                  </td>
                  <td><p>담당자연락처</p></td>
                  <td>
                    <input
                      type="text"
                      name="managerPhone"
                      id="managerPhone"
                      disabled
                    />
                  </td>
                </tr>
                <tr>
                  <td><p>카테고리</p></td>
                  <td><select id="categoryList" name="categoryNo"></select></td>
                </tr>
                <tr>
                  <td><p>상품명</p></td>
                  <td>
                    <div class="autocomplete">
                      <input type="text" name="productName" id="productName" />
                      <!-- <p>이미 등록된 상품명입니다.</p> -->
                      <div id="autocomplete-list"></div>
                    </div>
                  </td>
                  <td>상품정가</td>
                  <td>
                    <input type="text" name="productPrice" id="productPrice" />
                  </td>
                </tr>
                <tr>
                  <td><p>상품이미지</p></td>
                  <td>
                    <input type="file" name="productImg" id="productImg" />
                  </td>
                  <td><p>안전재고수량</p></td>
                  <td>
                    <input
                      type="text"
                      name="safetyQuantity"
                      id="safetyQuantity"
                    />
                  </td>
                </tr>
                <tr>
                  <td>상품설명</td>
                  <td colspan="3">
                    <textarea
                      name="productContent"
                      rows="4"
                      id="productContent"
                    ></textarea>
                  </td>
                </tr>
                <tr>
                  <td>비고</td>
                  <td colspan="3">
                    <input
                      type="text"
                      name="productRemarks"
                      id="productRemarks"
                    />
                  </td>
                </tr>
              </table>
              <div class="popup-button">
                <button type="submit">등록</button>
                <button type="reset">초기화</button>
                <button type="button" onclick="closePopup()" class="close-btn3">
                  닫기
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      var popup = document.querySelector(".popup-regist");
      function openPopup() {
        $.ajax({
          url: "suppliers",
          type: "get",
          dataType: "json",
          success: function (data) {
            var html = "<option>- 공급업체명 -</option>";
            $.each(data, function (index, obj) {
              html +=
                "<option value=" +
                obj.supplierNo +
                ">" +
                obj.supplierName +
                "</option>";
            });
            $("#supplierList").html(html);
          },
          error: function () {
            alert("error");
          },
        });

        $.ajax({
          url: "categories",
          type: "get",
          dataType: "json",
          success: function (data) {
            var html = "<option value=0>- 카테고리 -</option>";
            $.each(data, function (index, obj) {
              html +=
                "<option value=" +
                obj.categoryNo +
                ">" +
                obj.categoryName +
                "</option>";
            });
            $("#categoryList").html(html);
          },
          error: function () {
            alert("error");
          },
        });
        popup.style.display = "block";
      }

      function closePopup() {
        popup.style.display = "none";
      }

      var products = [];
      function changeSupplier(event) {
        $.ajax({
          url: "supplier",
          type: "get",
          data: { supplierNo: event.target.value },
          dataType: "json",
          success: function (data) {
            $("#supplierNo").val(data.supplierNo);
            $("#supplierBusinessNo").val(data.supplierBusinessNo);
            $("#managerName").val(data.managerName);
            $("#managerPhone").val(data.managerPhone);
            $("#categoryList").val("0").prop("selected", true);
            $("#productName").val("");
            $("#productPrice").val("");
            $("#productImg").val("");
            $("#safetyQuantity").val("");
            $("#productContent").val("");
            $("#productRemarks").val("");
          },
          error: function () {
            $("#supplierNo").val("");
            $("#supplierBusinessNo").val("");
            $("#managerName").val("");
            $("#managerPhone").val("");
            $("#categoryList").val("0").prop("selected", true);
            $("#productName").val("");
            $("#productPrice").val("");
            $("#productImg").val("");
            $("#safetyQuantity").val("");
            $("#productContent").val("");
            $("#productRemarks").val("");
          },
        });

        $.ajax({
          url: "product",
          type: "get",
          data: { supplierNo: event.target.value },
          dataType: "json",
          success: function (data) {
            $.each(data, function (index, obj) {
              products.push(obj.productName);
            });
            console.log(products);
          },
          error: function () {
            alert("error");
          },
        });
      }

      document
        .getElementById("productName")
        .addEventListener("input", function () {
          const input = this.value;
          const autocompleteList = document.getElementById("autocomplete-list");
          autocompleteList.innerHTML = "";

          if (!input) return;

          const filteredProducts = products.filter((product) =>
            product.includes(input)
          );

          filteredProducts.forEach((product) => {
            const div = document.createElement("div");
            div.textContent = product;
            div.addEventListener("click", function () {
              document.getElementById("productName").value = this.textContent;
              autocompleteList.innerHTML = "";
            });
            autocompleteList.appendChild(div);
          });
        });

      /* thymeleafView */
      document.querySelectorAll(".title").forEach(function (title) {
        title.addEventListener("click", function () {
          const submenu = this.nextElementSibling; // 클릭된 title의 바로 다음 요소인 submenu

          // 클릭된 submenu만 토글
          if (submenu.classList.contains("open")) {
            submenu.classList.remove("open"); // 열려 있으면 닫기
          } else {
            // 다른 열린 submenu를 모두 닫음
            document.querySelectorAll(".submenu").forEach(function (sub) {
              sub.classList.remove("open");
            });
            submenu.classList.add("open"); // 클릭된 요소만 열기
          }
        });
      });
    </script>
  </body>
</html>
