<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./common/thymeleafView::setContent(~{::.content})}">
    <div class="content">
        <div class="purchase-wrap">
            <div class="text-wrap">
                <p>구매내역</p>
                <p>❉ 조회 또는 수정을 원하시면 원하는 항목을 선택해주세요. </p>
            </div>
            <div class="purchase-title">
                <div class="filter-content">
                    <div class="filter-main">
                        <h3>상세내역검색</h3>
                        <button class="filter-button" type="submit" form="searchPurchase">검색하기</button>
                        <form action="purchaseList" method="get" id="searchPurchase" enctype="multipart/form-data">
                            <table>
                                <tr>
                                    <td><p>구매내역번호</p></td>
                                    <td><input type="text" name="purchaseListNo" th:value="${pageVO.cri.purchaseListNo}" ></td>
                                    <td><p>상품번호</p></td>
                                    <td><input type="text" name="productNo" th:value="${pageVO.cri.productNo}" ></td>
                                    <td><p>구매가격</p></td>
                                    <td><input type="text" name="purchasePrice" th:value="${pageVO.cri.purchasePrice}" ></td>
                                </tr>
                                <tr>
                                    <td><p>담당자명</p></td>
                                    <td><input type="text" name="managerName" th:value="${pageVO.cri.managerName}" ></td>
                                    <td><p>승인여부</p></td>
                                    <td>
                                        <select name="purchaseStatus">
                                            <option value="">- 비고 -</option>
                                            <option value="승인대기" th:selected="${pageVO.cri.purchaseStatus == '승인대기'}">승인대기</option>
                                            <option value="승인완료" th:selected="${pageVO.cri.purchaseStatus == '승인완료'}">승인완료</option>
                                            <option value="승인반려" th:selected="${pageVO.cri.purchaseStatus == '승인반려'}">승인반려</option>
                                        </select>
                                    </td>
                                    <td><p>구매일</p></td>
                                    <td><input type="date" name="purchaseDate" th:value="${pageVO.cri.purchaseDate}"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th>구매내역번호</th>
                    <th>상품번호</th>
                    <th>구매가격</th>
                    <th>구매수량</th>
                    <th>담당자명</th>
                    <th>승인여부</th>
                    <th>구매일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="purchase : ${list}" th:data-purchase-no="${purchase.purchaseListNo}">
                    <td><input type="checkbox" name="purchase" value="${purchase.purchaseListNo}"></td>
                    <td th:onclick="'openModifyModal(' + ${purchase.purchaseListNo} + ')'" th:text="${purchase.purchaseListNo}"></td>
                    <td th:text="${purchase.productNo}"></td>
                    <td th:text="${purchase.purchasePrice}"></td>
                    <td th:text="${purchase.purchaseQuantity}"></td>
                    <td th:text="${purchase.담당자명 ? ? ? ? ? ? ? ? --- 물어보기--- } "></td>
                    <td th:text="${purchase.purchaseStatus}"></td>
                    <td th:text="${purchase.purchaseDate}"></td>
                </tr>
                </tbody>
            </table>

            <div class="buttons">
                <div class="button-left">
                    <button type="button" class="approval" onclick="handleApproval()">구매 승인</button>
                    <button type="button" class="back" onclick="handleBack()">구매 반려</button>
                </div>
                <div class="button-right">
                    <button type="button" class="cancelPurchase" onclick="cancelPurchase()">구매취소</button>
                </div>
            </div>

            <div class="center">
                <div class="page">
                    <th:block th:replace="~{./inventory/purchasePagination::page(${pageVO})}"></th:block>
                </div>
            </div>
        </div>

        <div id="popup-regist" class="popup-regist draggable-popup">
            <form action="registerPurchase" id="registerPurchase" method="post" enctype="multipart/form-data">
                <div class="popup-content">
                    <h2 class="drag-handle">공급업체 등록</h2>
                    <div class="popup-list">
                        <table>
                            <tbody>
                            <tr>
                                <td><p>구내역번호</p></td>
                                <td><input type="text" name="supplierNo" required disabled></td>
                                <td><p>담당자명</p></td>
                                <td><input type="text" name="managerName" required></td>
                            </tr>
                            <tr>
                                <td><p>공급업체명</p></td>
                                <td><input type="text" name="supplierName" required></td>
                                <td><p>담당자 연락처</p></td>
                                <td><input type="text" name="managerPhone" pattern="\d{2,3}-\d{3,4}-\d{4}" placeholder="xx-xxxx-xxxx" required></td>
                            </tr>
                            <tr>
                                <td><p>공급업체주소</p></td>
                                <td><input type="text" name="supplierAddress" required></td>
                                <td><p>담당자 이메일</p></td>
                                <td><input type="email" name="managerEmail" pattern="[a-zA-Z0-9]+[@][a-zA-Z0-9]+[.]+[a-zA-Z]+[.]*[a-zA-Z]*" required></td>
                            </tr>
                            <tr>
                                <td><p>공급업체 사업자등록번호</p></td>
                                <td><input type="text" name="supplierBusinessNo" pattern="\d{3}-\d{2}-\d{5}" placeholder="xxx-xx-xxxx" required></td>
                                <td><p>첨부파일</p></td>
                                <td><input type="file" name="supplierFile" required></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="popup-button">
                        <div class="button-right">
                            <button type="submit" class="save" onclick="saveSupplier()">등록</button>
                            <button type="button" class="close" onclick="closeModal()">닫기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="popup-modify" class="popup-modify draggable-popup">
            <form action="modifySupplier" id="modifySupplier" method="post" enctype="multipart/form-data">
                <div class="popup-content">
                    <h2 class="drag-handle">공급업체 수정</h2>
                    <div class="popup-list">
                        <table>
                            <tbody>
                            <tr>
                                <td><p>공급업체번호</p></td>
                                <td><input type="text" name="supplierNo" id="modifySupplierNo" readonly></td>
                                <td><p>담당자명</p></td>
                                <td><input type="text" name="managerName" id="modifyManagerName" required></td>
                            </tr>
                            <tr>
                                <td><p>공급업체명</p></td>
                                <td><input type="text" name="supplierName" id="modifySupplierName" required></td>
                                <td><p>담당자 연락처</p></td>
                                <td><input type="text" name="managerPhone" id="modifyManagerPhone" pattern="\d{2,3}-\d{3,4}-\d{4}" placeholder="xx-xxxx-xxxx" required></td>
                            </tr>
                            <tr>
                                <td><p>공급업체주소</p></td>
                                <td><input type="text" name="supplierAddress" id="modifySupplierAddress" required></td>
                                <td><p>담당자 이메일</p></td>
                                <td><input type="email" name="managerEmail" id="modifyManagerEmail" pattern="[a-zA-Z0-9]+[@][a-zA-Z0-9]+[.]+[a-zA-Z]+[.]*[a-zA-Z]*" required></td>
                            </tr>
                            <tr>
                                <td><p>공급업체 사업자등록번호</p></td>
                                <td><input type="text" name="supplierBusinessNo" id="modifySupplierBusinessNo" pattern="\d{3}-\d{2}-\d{5}" placeholder="xxx-xx-xxxx" required></td>
                                <td><p>첨부파일</p></td>
                                <td>
                                    <input type="file" name="supplierFile" id="modifySupplierFile">
                                    <input type="hidden" name="existingFile" id="existingFile">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="popup-button">
                        <div class="button-right">
                            <button type="button" class="modify" onclick="modifySupplier()">수정</button>
                            <button type="button" class="close" onclick="closeModal()">닫기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>

<script>

</script>
</body>
</html>