<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./common/thymeleafView::setContent(~{::.content})}">
    <div class="content">
        <div class="order-wrap">
            <div class="text-wrap">
                <p>구매조회</p>
                <p>❉ 조회 또는 수정을 원하시면 원하는 항목을 선택해주세요. </p>
            </div>
            <div class="order-title">
                <div class="filter-content">
                    <div class="filter-main">
                        <h3>상세내역검색</h3>
                        <button class="filter-button" type="submit" form="searchPurchase">검색하기</button>
                        <button type="button" onclick="location.href='/inventory/purchaseList'" class="filter-button">전체보기</button>
                        <form action="purchaseList" method="get" id="searchPurchase" enctype="multipart/form-data">
                            <table>
                                <tr>
                                    <td><p>공급업체</p></td>
                                    <td><input type="text" name="supplierName" th:value="${pageVO.cri.supplierName}"></td>
                                    <td><p>카테고리</p></td>
                                    <td>
                                        <select name="categoryNo">
                                            <option value="">- 카테고리 -</option>
                                            <option th:each="categoryVO : ${categoryList}" th:value="${categoryVO.categoryNo}" th:text="${categoryVO.categoryName}"></option>
                                        </select>
                                    </td>
                                    <td><p>상품명</p></td>
                                    <td><input type="text" name="productName" th:value="${pageVO.cri.productName}" ></td>
                                </tr>
                                <tr>
                                    <td><p>담당자명</p></td>
                                    <td><input type="text" name="employeeName" th:value="${pageVO.cri.employeeName}"></td>
                                    <td><p>구매일</p></td>
                                    <td colspan="3" style="white-space: normal"><input type="date" name="purchaseSdate" style="width: 47%"> ~ <input type="date" name="purchaseEdate" style="width: 47%"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

            <table id="purchaseTable">
                <thead>
                <tr>
                    <th>no</th>
                    <th>공급업체명</th>
                    <th>카테고리</th>
                    <th>상품명</th>
                    <th>구매수량</th>
                    <th>구매단가</th>
                    <th>총가격</th>
                    <th>담당자</th>
                    <th>구매일</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="purchase : ${list}" class="product_list">
                        <td th:text="${purchase.purchaseNo}"></td>
                        <td th:text="${purchase.supplierName}"></td>
                        <td th:text="${purchase.categoryName}"></td>
                        <td th:text="${purchase.productName}"></td>
                        <td th:text="${purchase.purchaseQuantity}"></td>
                        <td th:text="${purchase.purchasePrice} + 원"></td>
                        <td th:text="(${purchase.purchaseQuantity} * ${purchase.purchasePrice}) + 원"></td>
                        <td th:text="${purchase.employeeName}"></td>
                        <td th:text="${#dates.format(purchase.purchaseDate, 'yyyy-MM-dd')}"></td>
                    </tr>
                </tbody>
            </table>

            <div class="buttons">
                <div class="button-left">
                    <!-- <button type="button" class="approval" onclick="handleApproval()">승인</button> -->
                    <!-- <button type="button" class="back" onclick="handleBack()">반려</button> -->
                </div>
                <div class="button-right">
                    <button type="button" class="postPurchase" onclick="requestPurchase()">구매신청</button>
                </div>
            </div>

            <div class="center">
                <div class="page">
                    <th:block th:replace="~{./inventory/purchasePagination::page(${pageVO})}"></th:block>
                </div>
            </div>
        </div>

        <!-- 등록 팝업 -->
        <div id="popup-regist" class="popup-regist">
            <form action="registerPurchase" id="registerPurchase" method="post" enctype="multipart/form-data">
                <input type="hidden" name="employeeNo" value="1">
                <div class="popup-content">
                    <h2>구매신청</h2>
                    <div class="popup-list">
                        <table class="purchase-table">
                            <tbody>
                                <tr>
                                    <td><p>구매내역번호</p></td>
                                    <td><input type="text" name="purchaseNo" disabled></td>
                                    <td><p>담당자명</p></td>
                                    <td><input type="text" name="employeeName" th:value="${#authentication.principal.employeeName}" disabled></td>
                                    <td><p>부서</p></td>
                                    <td><input type="text" name="employeeName" th:value="${#authentication.principal.departmentName}" disabled></td>
                                    <td><p>직급</p></td>
                                    <td><input type="text" name="employeeName" th:value="${#authentication.principal.positionName}" disabled></td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="inputContainer" class="purchase-table">
                            <tbody>
                                <tr>
                                    <td><p>공급업체명</p></td>
                                    <td colspan="2"><select class="supplierNo" name="supplierNo" onchange="changeSupplierNo(event)" required></select></td>
                                    <td><p>카테고리</p></td>
                                    <td colspan="2"><select class="categoryNo" name="categoryNo" onchange="changeCategoryNo(event)" required></select></td>
                                    <td><p>상품명</p></td>
                                    <td colspan="3"><select class="productNo" name="productNo" onchange="changeProductNo(event)" required></select></td>
                                    <td rowspan="2" style="vertical-align: bottom;"><button type="button" class="add-button" onclick="addRow()" style="width: 50px; background-image: none; color: black; margin:0px; border: 1px solid #e3e3e3;">추가</button><button type="button" class="remove-button" onclick="removeRow(event)" style="width: 50px; background-image: none; color: black; margin:0px; border: 1px solid #e3e3e3;">제거</button></td>
                                </tr>
                                <tr>
                                    <td><p>총재고수량</p></td>
                                    <td><input type="text" name="inventoryQuantity" disabled></td>
                                    <td><p>안전재고수량</p></td>
                                    <td><input type="text" name="safetyQuantity" disabled></td>
                                    <td><p>구매수량</p></td>
                                    <td><input type="number" name="purchaseQuantity" required oninput="calculateSubtotal(this)"></td>
                                    <td><p>구매가격</p></td>
                                    <td><input type="text" name="purchasePrice" required oninput="calculateSubtotal(this)"></td>
                                    <td><p>소계</p></td>
                                    <td><input type="text" name="subtotalPrice" disabled></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="purchase-table">
                            <tbody>
                                <tr>
                                    <td colspan="2"><p>총계</p></td>
                                    <td colspan="3"><input type="text" id="totalPurchase" disabled></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="popup-button">
                        <div class="button-right">
                            <button type="submit" class="save" onclick="postPurchase()">등록</button>
                            <button type="button" class="close" onclick="closePopup()">닫기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
  
        <!-- 수정 팝업 -->
        <div id="popup-modify" class="popup-modify draggable-popup">
            <form action="modifySupplier" id="modifySupplier" method="post" enctype="multipart/form-data">
                <div class="popup-content">
                    <h2 class="drag-handle">구매내역 수정</h2>
                    <div class="popup-list">
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="2"><p>구매내역번호</p></td>
                                    <td colspan="3"><input type="text" name="purchaseNo" disabled></td>
                                    <td colspan="1"><p>공급업체명</p></td>
                                    <td colspan="4"><select class="supplierNo" name="supplierNo" required></select></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><p>총재고수량</p></td>
                                    <td colspan="1"><input type="text" name="inventoryQuantity" disabled></td>
                                    <td colspan="2"><p>안전재고수량</p></td>
                                    <td colspan="1"><input type="text" name="safetyQuantity" disabled></td>
                                    <td colspan="1"><p>카테고리</p></td>
                                    <td colspan="3"><select class="categoryNo" name="categoryNo" onchange="changeCategoryNo(event)" required></select></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="2"><p>상품명</p></td>
                                    <td><select class="productNo" name="productNo" required></select></td>
                                    <td colspan="2"><p>구매수량</p></td>
                                    <td><input type="text" name="purchaseQuantity" required oninput="calculateTotal()"></td>
                                    <td><p>구매가격</p></td>
                                    <td><input type="text" name="purchasePrice" required></td>
                                    <td><button type="button" class="add-button" onclick="addRow()" style="width: 50px; background-image: none; color: black; margin:0px; border: 1px solid #e3e3e3;">추가</button></td>
                                    <td><button type="button" class="remove-button" onclick="removeRow()" style="width: 50px; background-image: none; color: black; margin:0px; border: 1px solid #e3e3e3;">제거</button></td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="2"><p>담당자명</p></td>
                                    <td colspan="3"><select class="employeeNo" name="employeeNo" required></select></td>
                                    <td colspan="2"><p>구매금액 합계</p></td>
                                    <td colspan="3"><input type="text" disabled></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="popup-button">
                        <div class="button-right">
                            <button type="button" class="modify" onclick="modifyPurchase()">저장</button>
                            <button type="button" class="close" onclick="closePopup()">닫기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
  </div>
</th:block>

<script>
    // 업체등록 버튼 클릭 시 체크박스가 선택되지 않았을 때만 모달 열기
    function requestPurchase() {
        const checkedPurchase = document.querySelector('input[name="purchase"]:checked');
        if (checkedPurchase) {
            alert('선택을 해제해주세요');
        } else {
            $.ajax({
                url: '/inventory/getSuppliers',
                type: 'get',
                dataType: 'json',
                success: function(data) {
                    var supplierSelect = $('select[name="supplierNo"]');
                    supplierSelect.empty().append('<option value="">- 공급업체 -</option>');
                    $.each(data, function(index, obj) {
                        supplierSelect.append('<option value="' + obj.supplierNo + '">' + obj.supplierName + '</option>');
                    });
                },
                error: function() {
                    alert('/inventory/getSuppliers error');
                }
            });

            document.getElementById("popup-regist").style.display = "flex";
        }
    }

    // 공급업체 선택 시 카테고리 업데이트
    function changeSupplierNo(event) {
        let categorySelect = event.target.closest('tr').querySelector('select[name="categoryNo"]');

        $.ajax({
            type: 'GET',
            url: '/inventory/getCategories',
            data: {'supplierNo' : event.target.value},
            dataType: 'json',
            success: function(data) {
                categorySelect.innerHTML = '<option value="">- 카테고리 -</option>';
                data.forEach(category => {
                    let option = document.createElement('option');
                    option.value = category.categoryNo;
                    option.textContent = category.categoryName;
                    categorySelect.appendChild(option);
                });
            },
            error: function() {
                alert('/inventory/getCategories error');
            }
        });
    }

    function changeCategoryNo(event) {
        const selectedRow = event.target.closest('tr'); // 현재 선택된 행
        const supplierSelect = selectedRow.querySelector('select[name="supplierNo"]'); // 해당 행의 공급업체 선택 필드
        const productSelect = selectedRow.querySelector('select[name="productNo"]'); // 해당 행의 상품 선택 필드

        const supplierNo = supplierSelect.value; // 선택된 공급업체 번호
        const categoryNo = event.target.value; // 선택한 카테고리 값

        $.ajax({
            type: 'GET',
            url: '/inventory/getProducts',
            data: {'supplierNo' : supplierNo, 'categoryNo' : categoryNo},
            dataType: 'json',
            success: function(data) {
                productSelect.innerHTML = '<option value="">- 상품명 -</option>';
                data.forEach(product => {
                    let option = document.createElement('option');
                    option.value = product.productNo;
                    option.textContent = product.productName;
                    productSelect.appendChild(option);
                });
            },
            error: function() {
                alert('/inventory/getProducts error');
            }
        });
    }

    function changeProductNo(event) {
        let row = event.target.closest('tbody'); // 현재 선택된 행
        let inventoryQuantity = row.querySelector('input[name="inventoryQuantity"]');
        let safetyQuantity = row.querySelector('input[name="safetyQuantity"]');

        $.ajax({
            type: 'GET',
            url: '/inventory/getQuantity',
            data: {'productNo' : event.target.value},
            dataType: 'json',
            success: function(data) {
                inventoryQuantity.value = data.inventoryQuantity;
                safetyQuantity.value = data.safetyQuantity;
            },
            error: function() {
                alert('/inventory/getQuantity error');
            }
        });
    }

    function calculateTotal() {
        let total = 0;

        document.querySelectorAll('#inputContainer tbody').forEach(row => {
            let quantity = parseFloat(row.querySelector('input[name="purchaseQuantity"]').value) || 0;
            let price = parseFloat(row.querySelector('input[name="purchasePrice"]').value) || 0;
            total += quantity * price;
        });

        document.querySelector('#totalPurchase').value = total;
    }

    function calculateSubtotal(element) {
        const row = element.closest('tr');  // 해당 요소가 포함된 행을 찾음
        const quantity = parseFloat(row.querySelector('input[name="purchaseQuantity"]').value) || 0;  // 구매 수량
        const price = parseFloat(row.querySelector('input[name="purchasePrice"]').value) || 0;  // 구매 가격
        const subtotal = quantity * price;  // 소계 계산

        row.querySelector('input[name="subtotalPrice"]').value = subtotal.toFixed(0);  // 소계를 소수점 2자리까지 표시

        calculateTotal();  // 총계를 업데이트
    }

    // 새 행을 추가하는 함수
    function addRow() {
        const rows = document.querySelectorAll('#inputContainer tbody');
        const lastRow = rows[rows.length - 1];

        // 새 행 생성
        const newRow = lastRow.cloneNode(true);

        // 새 행의 입력 필드 및 선택 필드의 name 속성 업데이트
        const newRowInputs = newRow.querySelectorAll('input, select');
        newRowInputs.forEach((element) => {
            element.name = element.name.replace(/\[\d+\]/, `[${rows.length}]`);
        });

        // 새 행의 값 초기화
        newRow.querySelectorAll('input').forEach(input => {
            input.value = '';
            input.readOnly = false; // 신규 행에서는 모든 input 필드를 활성화
        });

        // 새 행의 select 필드에 이벤트 리스너 연결
        const supplierSelect = newRow.querySelector('select[name="supplierNo"]');
        supplierSelect.selectedIndex = 0; // 기본 옵션으로 초기화
        supplierSelect.onchange = function(event) {
            changeSupplierNo(event);  // 새 행의 select 필드에 이벤트 리스너 추가
        };

        const categorySelect = newRow.querySelector('select[name="categoryNo"]');
        categorySelect.selectedIndex = 0; // 기본 옵션으로 초기화
        categorySelect.onchange = function(event) {
            changeCategoryNo(event);  // 새 행의 카테고리 선택시 이벤트 리스너 추가
        };

        const productSelect = newRow.querySelector('select[name="productNo"]');
        productSelect.selectedIndex = 0; // 기본 옵션으로 초기화
        productSelect.onchange = function(event) {
            changeProductNo(event);  // 새 행의 상품 선택시 이벤트 리스너 추가
        };

        // 새 행을 테이블에 추가
        document.getElementById('inputContainer').appendChild(newRow);
    }

    function removeRow(event) {
        const row = event.target.closest('tbody'); // 현재 클릭한 버튼이 포함된 행을 찾음
        const inputContainer = document.getElementById('inputContainer');

        // 제거할 행이 하나 이상일 경우에만 제거
        if (inputContainer.querySelectorAll('tbody').length > 1) {
            inputContainer.removeChild(row); // 해당 행 제거
            calculateTotal(); // 총계 업데이트
        } else {
            alert("더 이상 제거할 수 있는 행이 없습니다.");
        }
    }

    // 팝업창 닫기
    function closePopup() {
        document.getElementById("popup-regist").style.display = "none";
        document.getElementById("registerPurchase").reset();
    }

    window.onload = function () {
        // 드래그 기능을 추가할 팝업창 요소 선택
        const popupModify = document.getElementById('popup-modify');
        const popupRegist = document.getElementById('popup-regist');

        // 드래그 가능하게 만들기
        makeDraggable(popupModify);
        makeDraggable(popupRegist);
    };

    // 드래그 가능하게 하는 함수
    function makeDraggable(element) {
        let isDragging = false;
        let offsetX, offsetY;
        const header = element.querySelector('.popup-content');

        header.addEventListener('mousedown', (e) => {
            isDragging = true;
            offsetX = e.clientX - element.getBoundingClientRect().left;
            offsetY = e.clientY - element.getBoundingClientRect().top;
        });

        document.addEventListener('mousemove', (e) => {
            if (isDragging) {
                element.style.left = `${e.clientX - offsetX}px`;
                element.style.top = `${e.clientY - offsetY}px`;
            }
        });

        document.addEventListener('mouseup', () => {
            isDragging = false;
        });
    }
</script>
</body>
</html>