<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./common/thymeleafView::setContent(~{::.content})}">
    <div class="content">
        <div class="purchase-wrap">
            <div class="text-wrap">
                <p>구매내역</p>
                <p>❉ 조회 또는 수정을 원하시면 원하는 항목을 선택해주세요. </p>
            </div>
            <div class="purchase-title">
                <div class="filter-content">
                    <div class="filter-main">
                        <h3>상세내역검색</h3>
                        <button class="filter-button" type="submit" form="searchPurchase">검색하기</button>
                        <button type="button" onclick="location.href='/inventory/purchaseList'" class="filter-button">초기화</button>
                        <form action="purchaseList" method="get" id="searchPurchase" enctype="multipart/form-data">
                            <table>
                                <tr>
                                    <td><p>상품번호</p></td>
                                    <td><input type="text" name="productNo" th:value="${pageVO.cri.productNo}" ></td>
                                    <td><p>구매가격</p></td>
                                    <td><input type="text" name="purchasePrice" th:value="${pageVO.cri.purchasePrice}" ></td>
                                    <td><p>공급업체</p></td>
                                    <td>
                                        <select name="supplierNo">
                                            <option value="0">- 공급업체 -</option>
                                            <option th:each="supplierVO : ${supplierList}" th:value="${supplierVO.supplierNo}" th:text="${supplierVO.supplierName}" th:selected="${supplierVO.supplierNo == pageVO.cri.supplierNo}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p>담당자명</p></td>
                                    <td><input type="text" name="employeeNo" th:value="${pageVO.cri.employeeNo}" ></td>
                                    <td><p>승인여부</p></td>
                                    <td>
                                        <select name="purchaseStatus">
                                            <option value="">- 승인여부 -</option>
                                            <option value="승인대기" th:selected="${pageVO.cri.purchaseStatus == '승인대기'}">승인대기</option>
                                            <option value="승인완료" th:selected="${pageVO.cri.purchaseStatus == '승인완료'}">승인완료</option>
                                            <option value="승인반려" th:selected="${pageVO.cri.purchaseStatus == '승인반려'}">승인반려</option>
                                        </select>
                                    </td>
                                    <td><p>구매일</p></td>
                                    <td><input type="date" name="purchaseDate" th:value="${pageVO.cri.purchaseDate}"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th>구매번호</th>
                    <th>상품명</th>
                    <th>공급업체명</th>
                    <th>총구매가격</th>
                    <th>담당자명</th>
                    <th>승인여부</th>
                    <th>구매일</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="purchase : ${list}">
                        <td th:text="${purchase.purchaseNo}" onclick="handleClick(event)"></td>
                        <td th:text="${purchase.productName}" onclick="handleClick(event)"></td>
                        <td th:text="${purchase.supplierName}" onclick="handleClick(event)"></td>
                        <td th:text="${purchase.totalPurchasePrice}" onclick="handleClick(event)"></td>
                        <td th:text="${purchase.employeeName}" onclick="handleClick(event)"></td>
                        <td th:text="${purchase.purchaseStatus}" onclick="handleClick(event)"></td>
                        <td th:text="${#dates.format(purchase.purchaseDate, 'yyyy-MM-dd')}" onclick="handleClick(event)"></td>
                    </tr>
                </tbody>
            </table>

            <div class="buttons">
                <div class="button-left">
                    <!-- <button type="button" class="approval" onclick="handleApproval()">승인</button> -->
                    <!-- <button type="button" class="back" onclick="handleBack()">반려</button> -->
                </div>
                <div class="button-right">
                    <button type="button" class="postPurchase" onclick="requestPurchase()">구매신청</button>
                </div>
            </div>

            <div class="center">
                <div class="page">
                    <th:block th:replace="~{./inventory/purchasePagination::page(${pageVO})}"></th:block>
                </div>
            </div>
        </div>

        <!-- 등록 팝업 -->
        <div id="popup-regist" class="popup-regist draggable-popup">
            <form action="registerPurchase" id="registerPurchase" method="post" enctype="multipart/form-data">
                <input type="hidden" name="employeeNo" value="1">
                <div class="popup-content">
                    <h2 class="drag-handle">구매신청</h2>
                    <div class="popup-list">
                        <table>
                            <tbody>
                                <tr>
                                    <td><p>구매내역번호</p></td>
                                    <td><input type="text" name="purchaseNo" disabled></td>
                                    <td><p>담당자명</p></td>
                                    <td><input type="text" name="employeeName" th:value="${#authentication.principal.username}" disabled></td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="inputContainer">
                            <tbody>
                                <tr>
                                    <td><p>공급업체명</p></td>
                                    <td colspan="2"><select class="supplierNo" name="supplierNo" required></select></td>
                                    <td><p>카테고리</p></td>
                                    <td colspan="2"><select class="categoryNo" name="categoryNo" onchange="changeCategoryNo(event)" required></select></td>
                                    <td><p>상품명</p></td>
                                    <td colspan="3"><select class="productNo" name="productNo" required></select></td>
                                    <td rowspan="2" style="vertical-align: bottom;"><button type="button" class="add-button" onclick="addRow()" style="width: 50px; background-image: none; color: black; margin:0px; border: 1px solid #e3e3e3;">추가</button><button type="button" class="remove-button" onclick="removeRow()" style="width: 50px; background-image: none; color: black; margin:0px; border: 1px solid #e3e3e3;">제거</button></td>
                                </tr>
                                <tr>
                                    <td><p>총재고수량</p></td>
                                    <td><input type="text" name="inventoryQuantity" disabled></td>
                                    <td><p>안전재고수량</p></td>
                                    <td><input type="text" name="safetyQuantity" disabled></td>
                                    <td><p>구매수량</p></td>
                                    <td><input type="text" name="purchaseQuantity" required oninput="calculateTotal()"></td>
                                    <td><p>구매가격</p></td>
                                    <td><input type="text" name="purchasePrice" required></td>
                                    <td><p>소계</p></td>
                                    <td><input type="text" name="subtotalPrice" required></td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="2"><p>구매 금액 합계 금액</p></td>
                                    <td colspan="3"><input type="text" id="totalPurchase" disabled></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="popup-button">
                        <div class="button-right">
                            <button type="submit" class="save" onclick="postPurchase()">등록</button>
                            <button type="button" class="close" onclick="closePopup()">닫기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- 수정 팝업 -->
        <div id="popup-modify" class="popup-modify draggable-popup">
            <form action="modifySupplier" id="modifySupplier" method="post" enctype="multipart/form-data">
                <div class="popup-content">
                    <h2 class="drag-handle">구매내역 수정</h2>
                    <div class="popup-list">
                        <table>
                            <tbody>
                                <tr>
                                    <td><p>구매내역번호</p></td>
                                    <td><input type="text" name="purchaseNo" disabled></td>
                                    <td><p>담당자명</p></td>
                                    <td><input type="text" name="employeeName" th:value="${#authentication.principal.username}" disabled></td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td><p>공급업체명</p></td>
                                    <td colspan="2"><select class="supplierNo" name="supplierNo" required></select></td>
                                    <td><p>카테고리</p></td>
                                    <td colspan="2"><select class="categoryNo" name="categoryNo" onchange="changeCategoryNo(event)" required></select></td>
                                    <td><p>상품명</p></td>
                                    <td colspan="3"><select class="productNo" name="productNo" required></select></td>
                                    <td rowspan="2" style="vertical-align: bottom;"><button type="button" class="add-button" onclick="addRow()" style="width: 50px; background-image: none; color: black; margin:0px; border: 1px solid #e3e3e3;">추가</button><button type="button" class="remove-button" onclick="removeRow()" style="width: 50px; background-image: none; color: black; margin:0px; border: 1px solid #e3e3e3;">제거</button></td>
                                </tr>
                                <tr>
                                    <td><p>총재고수량</p></td>
                                    <td><input type="text" name="inventoryQuantity" disabled></td>
                                    <td><p>안전재고수량</p></td>
                                    <td><input type="text" name="safetyQuantity" disabled></td>
                                    <td><p>구매수량</p></td>
                                    <td><input type="text" name="purchaseQuantity" required oninput="calculateTotal()"></td>
                                    <td><p>구매가격</p></td>
                                    <td><input type="text" name="purchasePrice" required></td>
                                    <td><p>소계</p></td>
                                    <td><input type="text" name="subtotalPrice" required></td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td colspan="2"><p>구매 금액 합계 금액</p></td>
                                    <td colspan="3"><input type="text" id="" disabled></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="popup-button">
                        <div class="button-right">
                            <button type="button" class="modify" onclick="modifyPurchase()">수정</button>
                            <button type="button" class="close" onclick="closePopup()">닫기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>

<script>

    // 업체등록 버튼 클릭 시 체크박스가 선택되지 않았을 때만 모달 열기
    function requestPurchase() {
        const checkedPurchase = document.querySelector('input[name="purchase"]:checked');
        if (checkedPurchase) {
            alert('선택을 해제해주세요');
        } else {
            document.getElementById("popup-regist").style.display = "flex";
        }
    }

    // 페이지 로드 시 초기 데이터 로드
    document.addEventListener('DOMContentLoaded', function() {
        loadInitialData();
    });

    function loadInitialData() {
        changeSupplierNo();
        changeCategoryNo();
        changeEmployeeNo();
    }

    function changeSupplierNo() {
        $.ajax({
            url: '/inventory/getSuppliers',
            type: 'get',
            dataType: 'json',
            success: function(data) {
                var supplierSelect = $('select[name="supplierNo"]');
                supplierSelect.empty().append('<option value="">- 공급업체 -</option>');
                $.each(data, function(index, obj) {
                    supplierSelect.append('<option value="' + obj.supplierNo + '">' + obj.supplierName + '</option>');
                });
            },
            error: function() {
                alert('error');
            }
        });
    }

    function changeCategoryNo(event) {
        let categorySelect = document.querySelector('select[name="categoryNo"]');
        let productSelect = document.querySelector('select[name="productNo"]');

        // 카테고리 목록
        if (!event) {
            $.ajax({
                type: 'GET',
                url: '/inventory/getCategories',
                dataType: 'json',
                success: function(data) {
                    categorySelect.innerHTML = '<option value="">- 카테고리 -</option>';
                    data.forEach(category => {
                        let option = document.createElement('option');
                        option.value = category.categoryNo;
                        option.textContent = category.categoryName;
                        categorySelect.appendChild(option);
                    });
                },
                error: function() {
                    alert('error');
                }
            });
            return;
        }

        // 상품 목록 로드
        const categoryNo = event.target.value;
        productSelect.innerHTML = '<option value="">- 상품명을 선택하세요 -</option>';

        if (categoryNo) {
            $.ajax({
                type: 'GET',
                url: '/inventory/getProductsByCategory',
                data: { categoryNo: categoryNo },
                dataType: 'json',
                success: function(data) {
                    data.forEach(product => {
                        let option = document.createElement('option');
                        option.value = product.productNo;
                        option.textContent = product.productName;
                        productSelect.appendChild(option);
                    });
                    productSelect.disabled = false;
                },
                error: function() {
                    alert('error');
                }
            });
        } else {
            productSelect.disabled = true;
        }
    }

    function changeEmployeeNo() {
        $.ajax({
            type: 'GET',
            url: '/inventory/getEmployees',
            dataType: 'json',
            success: function(data) {
                let select = document.querySelector('select[name="employeeNo"]');
                select.innerHTML = '<option value="">- 담당자를 선택하세요 -</option>';
                data.forEach(employee => {
                    let option = document.createElement('option');
                    option.value = employee.employeeNo;
                    option.textContent = employee.employeeName;
                    select.appendChild(option);
                });
            },
            error: function() {
                alert('error');
            }
        });
    }

    function addRow() {
        const rows = document.querySelectorAll('#inputContainer tbody');
        const lastRow = rows[rows.length - 1];

        // 새 행 생성
        const newRow = lastRow.cloneNode(true);

        // 새 행의 입력 필드 및 선택 필드의 name 속성 업데이트
        const newRowInputs = newRow.querySelectorAll('input, select');
        newRowInputs.forEach((element) => {
            element.name = element.name.replace(/\[\d+\]/, `[${rows.length}]`);
        });

        // 새 행의 값 초기화
        newRow.querySelectorAll('input').forEach(input => {
            input.value = '';
            input.readOnly = false; // 신규 행에서는 모든 input 필드를 활성화
        });

        // 새 행의 select 필드에 개별적으로 getPrice 연결
        newRow.querySelectorAll('select').forEach(select => {
            select.selectedIndex = 0; // 기본 옵션으로 초기화
            select.disabled = false; // 새 행의 select 필드 활성화
            select.onchange = function(event) {
                getPrice(event);
            };
        });

        // 기존 행의 add-button 삭제
        const addButton = lastRow.querySelector('.add-button');
        if (addButton) {
            addButton.remove();
        }

        // 새 행의 삭제 버튼에 이벤트 리스너 추가
        const removeButton = newRow.querySelector('.remove-button');
        if (removeButton) {
            removeButton.addEventListener('click', function() {
                removeRow(removeButton);
            });
        }

        // 새 행의 입력 필드에 이벤트 리스너 추가
        const productQuantityInput = newRow.querySelector('.productQuantity');
        if (productQuantityInput) {
            productQuantityInput.addEventListener('input', updateAmount);
        }

        // 새 행을 테이블에 추가
        document.getElementById('inputContainer').appendChild(newRow);
    }

    function removeRow() {
        let tbody = document.querySelector('#purchaseTable tbody');
        if (tbody.rows.length > 1) {
            tbody.deleteRow(-1);
            calculateTotal();
        }
    }

    function calculateTotal() {
        let total = 0;
        document.querySelectorAll('#purchaseTable tbody tr').forEach(row => {
            let quantity = row.querySelector('input[name="purchaseQuantity"]').value || 0;
            let price = row.querySelector('input[name="purchasePrice"]').value || 0;
            total += quantity * price;
        });
        document.querySelector('#totalPurchase').value = total;
    }

    // 구매 수량 입력 시 총액 계산
    document.addEventListener('input', function(e) {
        if (e.target.name === 'purchaseQuantity') {
            calculateTotal();
        }
    });

    // 팝업창 닫기
    function closePopup() {
        document.getElementById("popup-regist").style.display = "none";
        document.getElementById("popup-modify").style.display = "none";
        document.getElementById("registerPurchase").reset();
    }

    // 닫기 버튼 클릭 시 팝업창 닫기
    window.onclick = function(event) {
        if (event.target === document.getElementById('popup-regist') || event.target === document.getElementById('popup-modify')) {
            closePopup();
        }
    }

    // 페이지 로드 시 이벤트 리스너 추가
    document.addEventListener('DOMContentLoaded', function() {
        // 드래그 기능을 위한 스크립트
        ['popup-regist', 'popup-modify'].forEach(id => {
            const popup = document.getElementById(id);
            const dragHandle = popup.querySelector('h2');
            let isDragging = false;
            let startX, startY, startLeft, startTop;

            dragHandle.addEventListener('mousedown', startDrag);
            document.addEventListener('mousemove', drag);
            document.addEventListener('mouseup', endDrag);

            function startDrag(e) {
                isDragging = true;
                startX = e.clientX;
                startY = e.clientY;
                startLeft = popup.offsetLeft;
                startTop = popup.offsetTop;
                popup.style.cursor = 'move';
            }

            function drag(e) {
                if (!isDragging) return;
                e.preventDefault();
                let newX = startLeft + (e.clientX - startX);
                let newY = startTop + (e.clientY - startY);
                popup.style.left = newX + 'px';
                popup.style.top = newY + 'px';
            }

            function endDrag() {
                isDragging = false;
                popup.style.cursor = 'default';
            }
        });
    });

    const modifyPopup = document.getElementById('popup-modify');
    function handleClick(event) {


        modifyPopup.style.display = 'block';
    }
</script>
</body>
</html>