<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{./common/thymeleafView::setContent(~{::.content})}">
    <div class="content">
        <div class="supplier-wrap">
            <div class="text-wrap">
                <p>공급업체내역</p>
                <p>❉ 조회 또는 수정을 원하시면 원하는 항목을 선택해주세요. </p>
            </div>
            <div class="supplier-title">
                <div class="filter-content">
                    <!-- ----- 여기에 조건별 검색기능 추가(검색 조건은 많을수록 좋습니다) -->
                    <h3>상세내역검색</h3>
                    <div class="filter-main">
                        <button class="filter-button">검색하기</button>
                    </div>

                    <table>
                        <tr>
                            <td>
                                <p>공급업체번호</p>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <p>공급업체명</p>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <p>공급업체주소</p>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>공급업체사업자등록번호</p>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <p>담당자명</p>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                            <td>
                                <p>담당자 연락처</p>
                            </td>
                            <td>
                                <input type="text">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <table>
                <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th>공급업체번호</th>
                    <th>공급업체명</th>
                    <th>공급업체주소</th>
                    <th>공급업체 사업자등록번호</th>
                    <th>담당자명</th>
                    <th>담당자 연락처</th>
                    <th>담당자 이메일</th>
                    <th>첨부파일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="supplier : ${list}" >
                    <td><input type="checkbox"></td>
                    <td th:text="${supplier.supplierNo}"></td>
                    <td th:text="${supplier.supplierName}"></td>
                    <td th:text="${supplier.supplierAddress}"></td>
                    <td th:text="${supplier.supplierBusinessNo}"></td>
                    <td th:text="${supplier.managerName}"></td>
                    <td th:text="${supplier.managerPhone}"></td>
                    <td th:text="${supplier.managerEmail}"></td>
                    <td>
                        <a th:if="${supplier.supplierFile != null}" th:href="@{${supplier.supplierFile}}" target="_blank">조회</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="buttons">
                <div class="button-left">
                    <button type="button" class="register" onclick="checkRegister()">업체등록</button>
                    <button type="button" class="update" onclick="openUpdate()">수정</button>
                </div>
            </div>

            <div class="center">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>

        <div id="popup-regist" class="popup-regist">
            <form action="/inventory/registerSupplier" id="registerSupplier" method="post" enctype="multipart/form-data">
                <div class="popup-content">
                    <h2>공급업체 등록</h2>
                    <div class="popup-list">
                        <table>
                            <tbody>
                            <tr>
                                <td><p>공급업체번호</p></td>
                                <td><input type="text" id="supplierNo" name="supplierNo" required disabled></td>
                                <td><p>담당자명</p></td>
                                <td><input type="text" id="managerName" name="managerName" required></td>
                            </tr>
                            <tr>
                                <td><p>공급업체명</p></td>
                                <td><input type="text" id="supplierName" name="supplierName" required></td>
                                <td><p>담당자 연락처</p></td>
                                <td><input type="text" id="managerPhone" name="managerPhone" pattern="\d{2,3}-\d{3,4}-\d{4}" placeholder="xx-xxxx-xxxx" required></td>
                            </tr>
                            <tr>
                                <td><p>공급업체주소</p></td>
                                <td><input type="text" id="supplierAddress" name="supplierAddress" required></td>
                                <td><p>담당자 이메일</p></td>
                                <td><input type="email" id="managerEmail" name="managerEmail" pattern="[a-zA-Z0-9]+[@][a-zA-Z0-9]+[.]+[a-zA-Z]+[.]*[a-zA-Z]*" required></td>
                            </tr>
                            <tr>
                                <td><p>공급업체 사업자등록번호</p></td>
                                <td><input type="text" id="supplierBusinessNo" name="supplierBusinessNo" pattern="\d{3}-\d{2}-\d{5}" placeholder="xxx-xx-xxxx" required></td>
                                <td><p>첨부파일</p></td>
                                <td><input type="file" id="supplierFile" name="supplierFile" required></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="popup-button">
                        <div class="button-right">
                            <button type="submit" class="save" onclick="saveSupplier()">등록</button>
                            <button type="button" class="close" onclick="closeModal()">닫기</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- <div id="popup-modify" class="popup-modify">
            <form action="/inventory/updateSupplier" id="updateSupplier" method="post" enctype="multipart/form-data">
                <div class="popup-content">
                    <h2>공급업체 등록</h2>
                    <div class="popup-list">
                        <table>
                            <tbody>
                                <tr>
                                    <td><p>공급업체번호</p></td>
                                    <td><input type="text" id="supplierNo" name="supplierNo" required disabled></td>
                                    <td><p>공급업체명</p></td>
                                        <input type="text" id="supplierName" name="supplierName" required></td>
                                    <td>
                                </tr>
                                <tr>
                                    <td><p>공급업체주소</p></td>
                                    <td><input type="text" id="supplierAddress" name="supplierAddress" required></td>
                                    <td><p>공급업체 사업자등록번호</p></td>
                                    <td><input type="text" id="supplierBusinessNo" name="supplierBusinessNo" pattern="\d{3}-\d{2}-\d{5}" placeholder="xxx-xx-xxxx" required></td>
                                </tr>
                                <tr>
                                    <td>
                                        <td><p>담당자명</p></td>
                                        <td><input type="text" id="managerName" name="managerName" required></td>
                                    </td>
                                    <td>
                                        <td><p>담당자 연락처</p></td>
                                        <td><input type="text" id="managerPhone" name="managerPhone" pattern="\d{2,3}-\d{3,4}-\d{4}" placeholder="xx-xxxx-xxxx" required></td>
                                    </td>
                                </tr>
                                <tr>
                                    <td><p>담당자 이메일</p></td>
                                    <td><input type="email" id="managerEmail" name="managerEmail" pattern="[a-zA-Z0-9]+[@][a-zA-Z0-9]+[.]+[a-zA-Z]+[.]*[a-zA-Z]*" required></td>
                                <td>
                                    <td><p>첨부파일</p></td>
                                    <td><input type="file" id="supplierFile" name="supplierFile" required></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="popup-button">
                        <button type="submit" class="save" onclick="saveSupplier()">수정</button>
                        <button type="button" class="close" onclick="closeModal()">닫기</button>
                    </div>
                </div>
            </form> -->
    </div>
</th:block>

<script>
    // 업체등록 버튼 클릭 시 체크박스가 선택되지 않았을 때만 모달 열기
    function checkRegister() {
        const checkedSupplier = document.querySelector('input[name="supplier"]:checked');
        if (checkedSupplier) {
            alert('선택을 해제해주세요');
        } else {
            openModal('register');
        }
    }

    // 수정 버튼 클릭 시 체크박스 선택 여부 확인하고 모달 열기
    function openUpdate() {
        const checkedSuppliers = document.querySelectorAll('input[name="supplier"]:checked');
        if (checkedSuppliers.length > 0) {
            // 공급업체 정보 로딩 및 모달 설정
            populateModal(checkedSuppliers[0].value);
            openModal('update'); // 체크된 항목이 있으면
        } else {
            alert('수정할 항목을 선택하세요.'); // 체크된 항목이 없으면
        }
    }

    // 모달 열기
    function openModal() {
        const popupRegist  = document.getElementById("popup-regist");
        popupRegist.style.display="flex";
    }


    // 모달 닫기 + 내용 초기화
    function closeModal() {
        document.getElementById("popup-regist").style.display = "none"; // 모달 닫기
        document.getElementById("registerSupplier").reset(); // 폼 내용 초기화
    }

    // 클릭 시 모달 닫기
    window.onclick = function(event) {
        if (event.target === document.getElementById('modal')) {
            closeModal();
        }
    };

    // 드래그가 시작되었는지 여부를 추적하는 변수
    let isDragging = false;
    // 드래그 시작 지점과 팝업의 초기 위치를 저장하는 변수
    let startX, startY, initialX, initialY;

    // 팝업과 헤더 요소 선택
    const draggablePopup = document.getElementById("re");
    const popupHeader = document.getElementById("popupHeader");

    // 헤더의 마우스 다운 이벤트 리스너
    popupHeader.addEventListener("mousedown", function (event) {
        // 입력 필드 등에서의 마우스 클릭을 막지 않도록 조정
        if (event.target.closest('input, textarea, select')) {
            return;
        }

        isDragging = true;   // 드래그 상태를 true로 설정
        startX = event.clientX;   // 마우스 클릭 시 X 좌표 저장
        startY = event.clientY;   // 마우스 클릭 시 Y 좌표 저장
        const rect = draggablePopup.getBoundingClientRect();   // 팝업창의 현재 위치를 가져옴
        initialX = rect.left;   // 팝업의 초기 X 좌표 저장
        initialY = rect.top;   // 팝업의 초기 Y 좌표 저장
        // 텍스트 선택 방지
        event.preventDefault();
    });

    // 문서의 마우스 무브 이벤트 리스너
    document.addEventListener("mousemove", function (event) {
        // 마우스가 움직일 때 드래그가 활성화되어 있으면 팝업창의 위치를 업데이트
        if (isDragging) {
            const currentX = event.clientX;   // 현재 마우스의 X 좌표
            const currentY = event.clientY;   // 현재 마우스의 Y 좌표
            const dx = currentX - startX;   // 시작 X 좌표와 현재 X 좌표의 차이
            const dy = currentY - startY;   // 시작 Y 좌표와 현재 Y 좌표의 차이
            // 팝업창의 새로운 위치를 설정
            draggablePopup.style.left = `${initialX + dx}px`;
            draggablePopup.style.top = `${initialY + dy}px`;
        }
    });

    // 문서의 마우스 업 이벤트 리스너
    document.addEventListener("mouseup", function () {
        // 마우스 버튼을 떼었을 때 드래그를 종료
        isDragging = false; // 드래그 상태를 false로 설정
    });


</script>

</body>
</html>