* {
  padding: 0;
  box-sizing: border-box;
}

.product-wrap {
  width: 100%;
  height: 100vh;
}

.text-wrap {
  display: flex;
}

.product-title {
  margin-left: 10px;
}

.product-title p {
  font-size: 13px;
  margin-bottom: 5px;
}

.product-title p:nth-of-type(1) {
  font-size: 40px;
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #000;
}

tr {
  font-size: 15px;
}

th {
  padding: 5px;
  background-color: #e3e3e3;
}

td {
  padding: 5px;
  text-align: center;
  background-color: #fff;
}

input {
  display: inline-block;
  position: relative;
  height: 30px;
}

img {
  height: 50px;
}

.buttons {
  text-align: right;
}

/* button css */
button {
  background-color: transparent;
  background-image: linear-gradient(to bottom, #434343, #000);
  color: #fff;
  text-align: center;
  text-transform: none;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: 130px;
  height: 30px;
}

button:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
    0px 1px 1px rgba(81, 41, 10, 0.15);
  transform: translateY(0.125rem);
}

/* pagination */
.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination ul {
  display: inline-block;
  list-style-type: none;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #e3e3e3;
}

.pagination a:hover:not(.active) {
  background-color: #e3e3e3;
}

/* popup regist */
.popup-regist {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup-regist .popup-content {
  background-color: white;
  margin: 10% auto;
  width: 900px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 8px 16px #e3e3e3;
}

.popup-regist .popup-content h2 {
  color: #fff;
  padding: 10px;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 400;
  background-color: #434343;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  line-height: 35px;
}

.popup-regist .popup-list {
  padding: 10px;
}

.popup-regist .popup-list p,
input {
  display: inline-block;
  position: relative;
  height: 30px;
}

.popup-regist .popup-list p {
  line-height: 30px;
  width: 100%;
}

.product-price > .newinput {
  width: 80%;
}

.popup-regist .popup-list input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 6px 12px;
}

#add-item-btn-regist {
  position: absolute;
}

.popup-regist .popup-list div:nth-of-type(1) input {
  left: 2px;
}

.popup-button {
  height: 50px;
}
.popup-regist .popup-button button {
  margin-top: 10px;
  margin-right: 10px;
}

.popup-regist .close-btn3 {
  cursor: pointer;
}
