.purchase-wrap {
    width: 100%;
    height: 100vh;
}

.purchase-title {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #777;
}


.button-right {
    margin-left: auto;
}

.close-btn {
    cursor: pointer;
}

.purchase_list:hover {
    background-color: #f7f5f2;
    cursor: pointer;
}