.hidden{
    display: none;
}

.btn {
    height: 30px;
    border-radius: 6px;
    border-style: none;
    background-color: #233047;
    color : white;
    width: 95px;
}

.btn:hover{
    color: #233047;
    background-color: #e3e3e3;
    box-shadow: 0px 8px 16px #e3e3e3;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}



/* 메인메뉴 */
.wrapper{
    padding: 20px;

}

.wrapper .wrapper-title{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.wrapper article table{ border-collapse : collapse; margin-bottom: 20px; border: 1px solid #777;}  /*이중선 제거*/

.wrapper article table tr > th{
    background-color: #e3e3e3;
    border: 1px solid #777;
    padding: 10px;
    font-size: 15px;
    vertical-align: top;	/* 위 */
    vertical-align: bottom;   /* 아래 */
    vertical-align: middle;   /* 가운데 */
}

.wrapper article table tr > td{
    font-size: 15px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #777;
    vertical-align: top;	/* 위 */
    vertical-align: bottom;   /* 아래 */
    vertical-align: middle;   /* 가운데 */
}



.wrapper article table #attribute{ /*테이블의 속성칸*/
    background-color: #D9D9D9;
}

.wrapper .wrapper-footer {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}