<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인사관리</title>
    <link rel="stylesheet" type="text/css" href="/humanResource/css/view.css"/>
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

</head>

<body>
<header class="flex">
    <img src="Logo.png" alt="Logo" style="width: 300px;"/>
    <ul class="menu flex">
        <li><a>홈</a></li>
        <li><a>인사관리</a></li>
        <li><a>상품관리</a></li>
        <li><a>영업판매관리</a></li>
        <li><a>영업구매관리</a></li>
    </ul>
    <form action="searchPostIndex.board" method="post" style="display: contents;">
        <input type="text" name="search" class="search" placeholder="메뉴검색">
        <button type="submit" class="btn-srch">
            <img src="search.svg" alt="searchImg"/>
        </button>
    </form>
</header>
<div class="flex wrap">

    <!--사이드바-->
    <aside class="flex" style="overflow: hidden;">
        <div class="wrapper-side-menu flex" style="overflow: auto;">
            <div class="flex user-content">
                <img src="../../static/common/img/userCircle.png" alt="userCircle" class="user-photo"/>
                <div class="user-name">강현구</div>
                <div>개발1팀 / 사원</div>
                <div>cha@oneshot.com</div>
            </div>
            <ul class="side-menu flex">
                <li>
                    <a>사원목록</a>
                </li>
                <li>
                    <a>부서목록</a>
                </li>
            </ul>
        </div>
        <div class="logout">
            <img src="../../static/common/img/logout.svg" alt="logoutImg"/>
            로그아웃
        </div>
    </aside>

    <!--메인 내용-->
    <div id="root" class="content"></div>


</div>
<script th:src="@{'/bundle/' + ${pageName} + '.bundle.js'}"></script>
</body>

</html>
