<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.oneshot.app.home.AppHomeMapper">

    <select id="getContractCount" resultType="int">
        SELECT COUNT(*)
        FROM CONTRACT_PRICE
        WHERE CONTRACT_REGDATE = CURRENT_DATE
    </select>

    <select id="getSalesCount" resultType="int">
        SELECT COUNT(*)
        FROM ORDER_HEADER
        WHERE ORDER_SDATE = CURRENT_DATE
    </select>
</mapper>