.btn {
    height: 40px;
    width: 80px;
    background-color: #023E7D;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
}
.input-error {
    border: 1px solid red;
    background-color: #fdd;
}

/* 메인메뉴 */
.wrapper{
    overflow: auto;
    padding: 20px;

}

.wrapper .wrapper-title{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.wrapper article table{ border-collapse : collapse; margin-bottom: 20px; border: 1px solid #777;}  /*이중선 제거*/

.wrapper article table tr > th{
    background-color: #e3e3e3;
    border: 1px solid #777;
    padding: 10px;
    font-size: 15px;
    vertical-align: top;	/* 위 */
    vertical-align: bottom;   /* 아래 */
    vertical-align: middle;   /* 가운데 */
    cursor: pointer;
}

.wrapper article table tr > td{
    font-size: 15px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #777;
    vertical-align: top;	/* 위 */
    vertical-align: bottom;   /* 아래 */
    vertical-align: middle;   /* 가운데 */
}



.wrapper article table #attribute{ /*테이블의 속성칸*/
    background-color: #D9D9D9;
}

.wrapper .wrapper-footer {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.wrapper .wrapper-footer .btns{
    justify-content: space-between;
    display: flex;
    width: 200px;
}