.btn {
    height: 40px;
    width: 80px;
    background-color: #023E7D;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.input-error {
    border: 1px solid red;
    background-color: #fdd;
}

/* 메인메뉴 */
.wrapper{
    overflow: auto;
    padding: 20px;

}

.wrapper .wrapper-title{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}


.wrapper .wrapper-footer {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wrapper-footer {
    display: flex; /* 자식 요소들을 한 줄에 배치 */
    justify-content: flex-start; /* 버튼을 왼쪽 정렬 */
    align-items: center; /* 버튼을 세로 중앙 정렬 */
}

.btns {
    display: flex; /* 버튼들을 한 줄에 배치 */
    gap: 10px; /* 버튼들 사이 간격을 추가 */
}

.btn:disabled {
    background-color: #ccc; /* 비활성화된 버튼의 배경색 */
    cursor: not-allowed; /* 비활성화된 버튼의 커서 모양 */
}
