*{
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'NanumBarunGothic';
}

.order-wrap {
    width: 100%;
    height: 100vh;
}

.text-wrap {
    display: flex;
    justify-content: space-between;
    margin-left: -8px;
    padding: 5px
}
.order-title {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
}
.text-wrap p {
    font-size: 30px;
    line-height: 30px;
}

.text-wrap p:nth-of-type(2) {
    font-size: 13px;
    margin-bottom: 5px;
}

/* //////////////////////////////////////////////////////////// */

input[readonly],
select[readonly],
input[disabled],
select[disabled] {
    background-color: #f0f0f0 !important;
    color: #777 !important;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table p {
    white-space: nowrap;
}

.left-row {
    text-align: left;
}

th {
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    font-family: 'NanumBarunGothicBold'; /* 볼드체 */
    border: 1px solid #e3e3e3;
}

td {
    padding: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    white-space: nowrap;  /* 텍스트 줄바꿈 방지 */
    border: 1px solid #e3e3e3;
    font-size: 15px;
}


/* 체크박스 클릭 시 배경색과 투명도 변경 */
.order-wrap table .tr-checked {
    background-color: #e3e3e3;
    opacity: 0.7;
}


/* ----- pagination ----- */
.center {
    text-align: center;
}
.page {
    display: inline-block;
}

.page li {
    float: left;
    padding: 8px 16px;
    transition: background-color .3s;
    margin: 0 4px;
    list-style: none;
    margin: -12px;
}

.page li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #e3e3e3;
    transition: background-color .3s;
}
.page li.active a {
    background-color: #f1f1f1;
}
.page li:hover:not(.active) a {
    background-color: #f1f1f1;
}

/* //////////////////////////////////////////////////////////// */
.buttons {
    position: relative;
    height: 40px;
    right: 10px;
    border: none;
    display: flex;
    justify-content: space-between;
}

.button-left {
    float: left;
}

.button-right {
    float: right;
}

.regist-right {
    margin-left: auto;
}

.button-regist {
    margin-left: auto;
}


/* tr td */
.popup-list > table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e3e3e3;
}

.popup-list td {
    padding: 5px;
    border: 1px solid #e3e3e3;
}


.new-input {
    position: relative;
    left: 33px;
}

.popup-list table p {
    margin: 0;
    height: 28px;
}

.product_list:hover {
    background-color: #f6f6f6;
/*    opacity: 0.7;*/
    cursor: pointer;
}

/* //////////////////////////////////////////////////////////// */
/* 팝업 공통 디자인 */
.popup-regist, .popup-modify {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    justify-content: center;
    cursor: pointer; /* 드래그 가능한 영역에 커서 스타일 추가 */
    z-index: 9999;
    overflow: auto;
}

.popup-content {
    background-color: white;
    margin: 5% auto;
    width: 900px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 8px 16px #e3e3e3;
    max-height: 90vh;
}

.popup-content h2 {
    color: #fff;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 400;
    background-color: #434343;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    line-height: 35px;
}

.popup-list {
    padding: 10px;
/*    overflow-y: auto;*/
    flex-grow: 1;
}

.popup-list p, input {
    display: inline-block;
    position: relative;
    height: 30px;
}

.popup-list p {
    line-height: 30px;
    width: 100%;
    white-space: nowrap;
}

.popup-list input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
    background-color: white;
    color: black;
}

.popup-list input:disabled {
    background-color: #f0f0f0;
    color: #888;
}


.popup-button {
    height: 50px;
}

.popup-button button {
    margin-top: 10px;
    margin-right: 10px;
}

/* //////////////////////////////////////////////////////////// */
/* popup regist */
.popup-regist .popup-list div:nth-of-type(1) input {
    left: 2px;
}

.close-btn, .close-btn3 {
    cursor: pointer;
}

.popup-regist td, .popup-modify td {
    white-space: nowrap;
    width: 25%;
}


/* //////////////////////////////////////////////////////////// */
/* popup modify */
.popup-modify .popup-list input, select {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
}

.popup-modify .close-btn2 {
    margin-right: 10px;
    cursor: pointer;
}

.popup-modify input[readonly]:focus,
.popup-modify select[readonly]:focus{
    outline: none; /* 포커스 외곽선 제거 */
    box-shadow: none; /* 그림자 제거 */
}
.popup-modify .modifySubmitButton {
    display: inline-block;
}


/* //////////////////////////////////////////////////////////// */
/* button css (공통) */
button {
    background-color: transparent;
    background-image: linear-gradient(to bottom, #434343, #000);
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 5px 10px;
    margin: 0px -10px 0px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 130px;
    height: 30px;
    font-size: 15px;
}

button:active {
    background-color: #F3F4F6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
}

/* //////////////////////////////////////////////////////////// */
/* filter table */
.content .filter-content,
.content .filter-content table {
    margin-top: 10px;
    border-radius: 10px;
}

.content .filter-content table {
    width: 100%;
    margin-bottom: 15px;
}

.content .filter-content td {
    border: 1px solid #e3e3e3;
    letter-spacing: 3px;
    padding: 5px;
}
.content .filter-content input,
.content .filter-content select {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
}

.content .filter-button {
    margin-right: 0px;
    margin-bottom: 5px;
}

.content .filter-main {
    gap: 10px; /* input과 select 사이의 간격 */
    margin: 0px 10px 15px 0px;
    width: 100%;
}
.content .filter-main h3 {
    float: left;
}
.content .filter-main button {
    float: right;
}


.content .filter-main select {
    flex: 1;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    height: 30px;
    border-radius: 4px;
    width: 100%;
}





/* ----------------------------------------------------- */
/* order개인 css */
.order-regist-table td:nth-of-type(1) {
    width: 5%;
}
.order-regist-table td:nth-of-type(2) {
    width: 0%;
}
.order-regist-table td:nth-of-type(3) {
    width: 5%;
}
.order-regist-table td:nth-of-type(4) {
    width: 9%;
}
.order-regist-table td:nth-of-type(5) {
    width: 5%;
}
.order-regist-table td:nth-of-type(6) {
    width: 8%;
}
.order-regist-table td:nth-of-type(7) {
    width: 8%;
}
.order-regist-table td:nth-of-type(8) {
    width: 12%;
}
.order-regist-table td:nth-of-type(9) {
    width: 6%;
}
.order-regist-table td:nth-of-type(10) {
    width: 23%;
}
.order-regist-table td:nth-of-type(12) {
    width: 21%;
}

.order-modify-table td:nth-of-type(1) {
    width: 3.5%;
}
.order-modify-table td:nth-of-type(2) {
    width: 6.5%;
}
.order-modify-table td:nth-of-type(3) {
    width: 10%;
}
.order-modify-table td:nth-of-type(4) {
    width: 6%;
}
.order-modify-table td:nth-of-type(5) {
    width: 7%;
}
.order-modify-table td:nth-of-type(6) {
    width: 12%;
}
.order-modify-table td:nth-of-type(7) {
    width: 7%;
}
.order-modify-table td:nth-of-type(8) {
    width: 15%;
}
.order-modify-table-list th {
    border: 1px solid #e3e3e3;
    background-color: #fff !important;
    font-size: 15px;
    font-weight: 400;
    width: 20%;
}
.popup-regist-normal td {
    width: 17%;
}



/* ----------------------------------------------------- */
.purchase-table {
    white-space: nowrap;
    width: 10%;
}

.purchase-table td {
    width: 13%;
}

.error-text {
    font-size: 13px;
    color: red;
    text-align: left;
    display: none;
}



/* ----------------------------------------------------- */
/* supplier */
.supplier-regist-table table p {
    height: 20px;
}
.supplier-regist-table td:nth-of-type(1),
.supplier-regist-table td:nth-of-type(3) {
    width: 20%;
}
.supplier-regist-table td:nth-of-type(2),
.supplier-regist-table td:nth-of-type(4) {
    width: 30%;
}


/* 강제 스타일 */
.hidden {
    display: none !important;
}

.visible {
    display: block !important;
}
