* {
    padding: 0;
    box-sizing: border-box;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.main-left {
    flex: 1;
    padding: 20px;
}

.main-right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.right1 {
    width: 100%;
    height: 43%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 13px;
    margin-top: -3px;
}

.chart-container {
    width: 48%;
    height: 100%;
    position: relative;
}

.chart-container > h3 {
    text-align: center;
}

canvas {
    max-width: 100%;
    max-height: 100%;
}

/* 오른쪽 노티스 */
.notice-wrap {
    display: inline-block;
    width: 500px;
}
.notice1 {
    margin-top: 90px;
    width: 650px;
    margin-left : 13px;
}
.notice1 table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}
.notice1 p {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.notice1 th, .notice1 td {
    padding: 2px;
    text-align: center;
    height: 20px;
    text-align: center;
    border: 1px solid #ddd;
}
.notice1 th {
    background-color: #e3e3e3;
}



.fc .fc-toolbar-title {
    font-size: 1.4em;
    marign-left: -55px;
}

.fc-button-group {
    width: 60%;
}
.fc-button-group:nth-of-type {
    width: 40%;
}
