*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}


/* header */
header{
    height: 60px;
    width: 1920px;
    box-shadow: -5px 8px 16px #e3e3e3;
    border-right: none;
    justify-content: space-around;
    display: flex;
    justify-content: space-between;
}
header .left {
    margin: 2px;
    margin-left: 17px;
    float: left;
    width: 170px;
}
header .right {
/* border: 1px solid green; */
    float: right;
    display: inline-block;
}
header .right div {
/* border: 1px solid red; */
    display: inline-block;
    width: 100px; height: 60px;
    font-size: 14px;
    margin: 5px;
}
.right img {
    width: 40px;
    margin-right: 20px;
}

/* aside */
.aside{
    flex: 0 0 250px;
    box-shadow: 0px 8px 16px #e3e3e3;
    background-color: #233047;
    color: #fff;
}

.content {
    padding: 60px;
    box-sizing: border-box;
    height: 1020px; width: 1670px;
}

/* .aside .category {
    border: 1px solid Red;
    height: 150px;
} */
.aside .category div{
    text-align: center;
    width: 100%; height: 60px; line-height: 60px;
}


.aside .category .submenu {
    height: 0; /* 기본적으로 숨김 처리 */
    overflow: hidden; /* 내용 넘침 방지 */
    transition: height 0.2s ease-in-out;
}
.aside .category .submenu a {
    display: block;
    text-decoration: none;
    color: #000;
}
.aside .category .submenu.open {
    height: auto;
}
.aside .category .submenu {
    background-color: #fff;
    color: #000;
}
.aside .category .title {
    font-size: 25px;
}
6
.aside .category .title:hover {
    background-color: #B3D5E0;
}

/* logout */
.logout {
    margin: 20px; font-size: 20px;

}
.logout:hover {
    cursor: pointer;
    color: #B3D5E0;
}
.logout img, .logout p {
    display: inline-block;
}
.logout img {
    margin-left:25px;
}
.logout a {
    font-size: 20px;
    position: relative;
    bottom: 6px;
}

