@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumBarunGothic';
}

body {
  background-color: #fff;
  transition: all 0.5s ease;
}

/* -- 다크버전 추후 더 추가 예정 -- */
body.dark {
  background-color: #343434;
/*  color: black;*/
}

body.dark .sidebar, body.dark .bottom {
  background-color: #343434;
  box-shadow: 0px 5px 5px black;
}
body.dark .navbar {
  background-color: #343434;
  box-shadow: 5px 0px 5px black;
}

body.dark .bottom a {
  color: #e3e3e3;
}

body.dark p, body.dark h3, body.dark h2 {
  color: #bdc1c6;
}

body.dark .fc-direction-ltr .fc-toolbar > * > :not(:first-child),
body.dark .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child),
body.dark .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  box-shadow: none;
  border: none !important;
}

body.dark .side-right {
  background-color: #343434;
  border: 1px solid #5f6368;
  box-shadow: none;
}

body.dark .order-title {
  border-top: 1px solid #5f6368;
  border-bottom: 1px solid #5f6368;
}

body.dark th {
  background-color: #343434;
}
body.dark .content .filter-content td, body.dark .content .filter-content th,
body.dark .content .filter-content input, body.dark .content .filter-content select,
body.dark th, body.dark td,
body.dark .page li a {
  border: 1px solid #5f6368;
  color: #bdc1c6;
}

body.dark .popup-content {
  background: #343434;
/*  box-shadow: 1px 0px 1px #e3e3e3;*/
  border: 1px solid black;
  box-shadow: none;
  border-radius: 10px;
}

body.dark .popup-list input:disabled {
  background-color: #e4e4e4 !important;
}

body.dark .popup-regist td, body.dark .popup-modify td,
body.dark input, body.dark select {
  border: 1px solid #5f6368;
  background: #343434;
  color: black;
}

body.dark .popup-list .explanation {
  border: 1px solid #5f6368;
  background: #343434;
  color: #bdc1c6;
}

body.dark .error-text {
  color: red;
}

body.dark input, body.dark select, body.dark .checkbox {
    background-color: #343434;
    color: #e3e3e3;
    border: 1px solid #5f6368;
}
body.dark .add-button, body.dark .remove-button {
  background: #9aa0a6;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 5px 0px 4px #343434;
}
.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
}
.navbar img {
  width: auto;
  height: 45px;
  border-radius: 50%;
}
.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}
.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: #fff;
  color: #707070;
  border: 1px solid #aaa;
  padding: 0 20px;
}
.navbar_content {
    display: flex;
    align-items: center;
}
.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: #707070;
}

/* sidebar */
.sidebar_content {
  display : flex;
}

.sidebar {
  background-color: #343434;
  box-shadow: 0px 5px 4px #343434;
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  float: left;
}

.sidebar.close {
  padding: 60px 0;
  width: 80px;
}

.menu_content {
  position: relative;
}

.navlink {
  color: #e3e3e3;
}

.menu_items {
  list-style: none;
  margin-top: 20px;
}

.navlink_icon {
  position: relative;
  margin-top: 3px;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
  color: #e3e3e3;
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: #e3e3e3;
  white-space: nowrap;
  margin-bottom: 15px;
/*  transition: background-color 0.3s ease;*/
}

.sidebar.close .navlink {
  display: none;
}

/* 메인 카테고리 (인사관리, 재고관리, 판매관리) 호버 및 활성 상태 */
.main-category:hover,
.main-category.active {
  background-color: #676767;
  color: #fff;
  cursor: pointer;
}

/* 활성화된 메인 카테고리 스타일 */
.main-category.active,
.main-category.show_submenu {
  background-color: #676767;
}

.main-category.active .navlink,
.main-category.active .navlink_icon,
.main-category.show_submenu .navlink,
.main-category.show_submenu .navlink_icon {
  color: #fff;
}

/* -- 서브탭 -- */
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
/*  transition: max-height 0.3s ease-out;*/
  max-height: 500px;
  overflow: hidden;
  padding-bottom: 15px;
  margin-top: -5px;
}

.submenu_item.active,
.submenu_item.show_submenu {
  background: #676767;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.submenu_item.active .navlink,
.submenu_item.active .navlink_icon,
.submenu_item.show_submenu .navlink,
.submenu_item.show_submenu .navlink_icon {
  color: #fff;
}


/* 하위 카테고리 호버 및 활성 상태 */
.sublink:hover,
.sublink.active {
  background-color: #D9D9D9;
  color: #343434;
  cursor: pointer;
}


.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 10px 0px 10px 50px;
}



/* -- bottom -- */
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: #707070;
  border-top: 1px solid #707070;
  background-color: #fff;
  margin-top: 5px;
}
.bottom i {
  font-size: 20px;
  margin-left: 117px;
}
.bottom a {
  font-size: 16px;
  text-decoration: none;
  color: #707070;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
}

.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom a {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}

#sidebarOpen {
  display: none;
}

.content {
  float: left;
  margin-left: 150px;
  margin-top: 50px;
  width: 85%;
}


/* -- 사이드바 사이즈 -- */
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: #707070;
  }
  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}


/* 우측상단 프로필 */
#darkLight {
  font-size: 20px;
  color: #ffc107;
  cursor: pointer;
  margin-right: 15px;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  border: 3px solid #f1f3f5;
}

.profileHeader {
  display: flex;
  align-items: center;
}

.topSection {
  display: flex;
  gap: 5px;
  position: relative;
}

.hearderEmployeeName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #343a40;
}

.bottomSection {
  display: flex;
  font-size: 0.85rem;
  color: #6c757d;
  margin-top: 5px;
}
.hearderDepartmentName {
  border-radius: 4px 0 0 4px;
}
.hearderPositionName {
  border-radius: 0 4px 4px 0;
}
.hearderDepartmentName, .hearderPositionName {
  font-size: 0.85rem;
  color: #6c757d;
  position: relative;
  transform: translateY(25%);
}
/* =========================== */

