* {
    padding: 0;
    box-sizing: border-box;
}


.order-wrap {
    width: 100%;
    height: 100vh;
}

.text-wrap {
    display: flex;
    justify-content: space-between;
    margin-left: -8px;
    padding: 5px
}

.order-title {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding: 5px;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #777;
}

.text-wrap p {
    font-size: 30px;
    line-height: 30px;
}
.text-wrap p:nth-of-type(2) {
    font-size: 13px;
    margin-bottom: 5px;
}

/* //////////////////////////////////////////////////////////// */
/* ----- table ----- */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    /* box-shadow: 0px 4px 8px #e3e3e3; */
}

table, th, td {
    border: 1px solid #777;
}

tr {
    font-size: 15px;
}

th {
    padding: 5px;
    text-align: center;
    background-color: #e3e3e3;
}

td {
    padding: 5px;
    text-align: center;
    height: auto;
}

/* //////////////////////////////////////////////////////////// */
/* ----- pagination ----- */
.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #e3e3e3;
}

.pagination a:hover:not(.active) {
    background-color: #e3e3e3;
}
/* //////////////////////////////////////////////////////////// */
.buttons {
    position: relative;
    height: 40px;
    right: 10px;
    border: none;
    display: flex;
    justify-content: space-between;
}

.button-left {
    float: left;
}

.button-right {
    float: right;
}

/* //////////////////////////////////////////////////////////// */
/* popup modify */
.popup-modify {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* tr td */
.popup-list > table {
    width: 100%;
    border-collapse: collapse;
}

.popup-list td {
    padding: 5px;
    vertical-align: top;
}

.new-input {
    position: relative;
    left: 33px;
}

.popup-list>table,
.popup-list td {
    border: 1px solid #e3e3e3;
}

.popup-list table p {
    margin: 0;
}

/* //////////////////////////////////////////////////////////// */
/* popup regist */
.popup-regist {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.popup-regist .popup-content {
    background-color: white;
    margin: 10% auto;
    width: 900px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 8px 16px #e3e3e3;
}

.popup-regist .popup-content h2 {
    color: #fff;
    padding: 10px;
    font-size: 25px; letter-spacing: 2px; font-weight: 400;
    background-color: #434343;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px; line-height: 35px;
}

.popup-regist .popup-list {
    padding: 10px;
}

.popup-regist .popup-list p,
input {
    display: inline-block;
    position: relative;
    height: 30px;
}

.popup-regist .popup-list p {
    line-height: 30px;
    width: 100%;
}

.popup-regist .popup-list input {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
}

#add-item-btn-regist {
    position: absolute;
}

.popup-regist .popup-list div:nth-of-type(1) input {
    left: 2px;
}

.popup-button {
    height: 50px;

}
.popup-regist .popup-button button {
    margin-top: 10px;
    margin-right: 10px;
}

.popup-regist .close-btn3 {
    cursor: pointer;
}


/* //////////////////////////////////////////////////////////// */
/* popup modify */
.popup-modify:hover {
    cursor: pointer;
}

.popup-modify .popup-content {
    background-color: white;
    margin: 10% auto;
    width: 900px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 8px 16px #e3e3e3;
}

.popup-modify .popup-content h2 {
    color: #fff;
    padding: 10px;
    font-size: 25px; letter-spacing: 2px; font-weight: 400;
    background-color: #434343;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px; line-height: 35px;
}

.popup-modify .popup-list {
    padding: 10px;
}

.popup-modify .popup-list p,
input {
    display: inline-block;
    position: relative;
    height: 30px;
}

.popup-modify .popup-list p {
    line-height: 30px;
    width: 100%;
}

.popup-modify .popup-list input, select {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
}

.popup-modify .close-btn2 {
    margin-right: 10px;
    cursor: pointer;
}

/* //////////////////////////////////////////////////////////// */
/* button css (공통) */

button {
    background-color: transparent;
    background-image: linear-gradient(to bottom, #434343, #000);
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 5px 10px;
    margin: 0px -10px 0px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 130px;
    height: 30px;
}

button:active {
    background-color: #F3F4F6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
}

/* filter table */
.content .filter-content,
.content .filter-content table {
    margin-top: 10px;
    border-radius: 10px;
}

.content .filter-content table {
    margin-bottom: 15px;
}
.content .filter-content td {
    border: 1px solid #e3e3e3;
    letter-spacing: 3px;
}
.content .filter-content input {
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
}

.content .filter-button {
    margin-right: 0px;
    margin-bottom: 5px;
}

.content .filter-main {
    gap: 10px; /* input과 select 사이의 간격 */
    margin: 0px 10px 15px 0px;
    width: 100%;
}
.content .filter-main h3 {
    float: left;
}
.content .filter-main button {
    float: right;
}

.content .filter-main select {
    flex: 1;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    height: 30px;
    border-radius: 4px;
    width: 100%;
}