<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.oneshot.hr.department.DepartmentMapper">

    <insert id="insertDepartment" parameterType="DepartmentVO">
        insert into department (department_no, department_name) values (#{departmentNo}, #{departmentName})
    </insert>
    <select id="checkDuplicateDepartment" parameterType="DepartmentVO" resultType="int">
        SELECT COUNT(*)
        FROM department
        WHERE department_no = #{departmentNo}
    </select>

    <select id="selectDepartment" parameterType="DepartmentVO" resultType="DepartmentVO">
        select * from department order by department_no asc
    </select>

    <delete id="deleteDepartments" parameterType="list">
        DELETE FROM department
        WHERE department_no IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>