<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.oneshot.hr.department.DepartmentMapper">

    <insert id="departmentInsert" parameterType="DepartmentVO">
        insert into department (department_name) values (#{departmentName})
    </insert>
    <select id="checkDuplicateDepartment" parameterType="DepartmentVO" resultType="int">
        SELECT COUNT(*)
        FROM department
        WHERE department_name = #{departmentName}
    </select>
</mapper>