<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.oneshot.security.EmployeeAuthMapper">
    <!-- 사원 비밀번호 생성 기본값 생년월일 yymmdd-->
    <insert id="insertEmployeeAuth" parameterType="EmployeeAuthVO">
        INSERT INTO public.employee_auth (employee_no, employee_password)
        VALUES (#{employeeNo}, #{employeePassword})
    </insert>

    <!-- 비밀번호 변경 -->
    <update id="updateEmployeeAuth" parameterType="EmployeeAuthVO">
        UPDATE employee_auth
        SET
            employee_password = #{employeePassword}
        WHERE employee_no = #{employeeNo}
    </update>
    <!-- 로그인 -->
    <select id="login" parameterType="int" resultType="EmployeeAuthVO">
        SELECT
            e.employee_no,
            e.position_no,
            e.employee_name,
            e.employee_phone,
            p.position_no,
            p.position_name,
            d.department_no,
            d.department_name,
            ea.employee_password,
            ea.password_updated_at,
            p.position_name_english AS positionNameEnglish
        FROM public.employee_auth ea
                 JOIN public.employee e ON ea.employee_no = e.employee_no
                 JOIN public.position p ON e.position_no = p.position_no
                 join department d on e.department_no = d.department_no
        WHERE e.employee_no = #{employeeNo};
    </select>

    <!-- 로그인할때 메뉴 권한 조회 -->
    <select id="getMenuForEmployee" parameterType="int" resultType="Integer">
        SELECT m.menu_no
        FROM public.department_menu dm
                 JOIN public.menu m ON dm.menu_no = m.menu_no
                 JOIN public.employee e ON dm.department_no = e.department_no
        WHERE e.employee_no = #{employeeNo};
    </select>


</mapper>
