<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.oneshot.sales.order.OrderMapper">

    <!-- 판매내역 -->
    <insert id="orderRegist" parameterType="OrderVO" useGeneratedKeys="true" keyProperty="contractPriceNo">
        INSERT INTO ORDER_HEADER(
        ORDER_SDATE
        ,CLIENT_NO
        ,PRODUCT_NO
        ,CONTRACT_PRICE
        ,EMPLOYEE_NO
        ,ORDER_EMPLOYEE
        )
        VALUES(
        #{orderSdate}
        ,#{clientNo}
        ,#{productNo}
        ,#{contractPrice}
        ,#{employeeNo}
        ,#{orderEmployee}
        )
    </insert>

    <select id="getClientList" resultType="ClientVO">
        SELECT *
        FROM CLIENT
    </select>

    <select id="getClientContent" parameterType="int" resultType="ClientVO">
        select * from client where client_no = #{clientNo}
    </select>

    <select id="getProductList" resultType="ContractVO">
        SELECT PRODUCT.PRODUCT_NAME, CONTRACT_PRICE.CONTRACT_PRICE
        FROM CLIENT
        INNER JOIN CONTRACT_PRICE
        ON CLIENT.CLIENT_NO = CONTRACT_PRICE.CONTRACT_PRICE
        INNER JOIN PRODUCT
        ON CONTRACT_PRICE.PRODUCT_NO = PRODUCT.PRODUCT_NO
        WHERE CLIENT.CLIENT_NO = #{clientNo} AND CURRENT_DATE BETWEEN CONTRACT_PRICE.CONTRACT_SDATE AND CONTRACT_PRICE.CONTRACT_EDATE
    </select>
</mapper>