<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.oneshot.sales.SalesMapper">

    <!-- 계약 등록 기능 -->
    <insert id="contractRegist" parameterType="ContractVO">
        INSERT INTO CONTRACT_PRICE(PRODUCT_NO
                            ,EMPLOYEE_NO
                            ,CLIENT_NO
                            ,CONTRACT_SDATE
                            ,CONTRACT_EDATE
                            ,CONTRACT_PRICE
        )
        VALUES(
        #{productNo}
        ,#{employeeNo}
        ,#{clientNo}
        ,#{contractSdate}
        ,#{contractEdate}
        ,#{contractPrice}
        )
    </insert>
</mapper>