<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.oneshot.inventory.supplier.SupplierMapper">

    <!-- 목록 조회 -->
    <select id="getAllSuppliers" resultType="SupplierVO">
        SELECT * FROM supplier
        <where>
            <if test="supplierName != null and supplierName != ''">
                <![CDATA[ AND supplier_name LIKE CONCAT('%', #{supplierName}, '%') ]]>
            </if>
            <if test="supplierAddress != null and supplierAddress != ''">
                <![CDATA[ AND supplier_address LIKE CONCAT('%', #{supplierAddress}, '%') ]]>
            </if>
            <if test="supplierBusinessNo != null and supplierBusinessNo != ''">
                <![CDATA[ AND supplier_business_no LIKE CONCAT('%', #{supplierBusinessNo}, '%') ]]>
            </if>
            <if test="managerName != null and managerName != ''">
                <![CDATA[ AND manager_name LIKE CONCAT('%', #{managerName}, '%') ]]>
            </if>
            <if test="managerPhone != null and managerPhone != ''">
                <![CDATA[ AND manager_phone LIKE CONCAT('%', #{managerPhone}, '%') ]]>
            </if>
            <if test="managerEmail != null and managerEmail != ''">
                <![CDATA[ AND manager_email LIKE CONCAT('%', #{managerEmail}, '%') ]]>
            </if>
        </where>
        ORDER BY supplier_no DESC
        limit #{amount} offset #{pageStart}
    </select>

    <!-- 업체 등록 -->
    <insert id="registerSupplier" parameterType="SupplierVO" useGeneratedKeys="true" keyProperty="supplierNo">
        INSERT INTO supplier (
                                supplier_no, supplier_name, supplier_address, supplier_business_no,
                                manager_name, manager_phone, manager_email, supplier_file
                              )
        VALUES (
                nextval('supplier_seq'), #{supplierName}, #{supplierAddress}, #{supplierBusinessNo},
                #{managerName}, #{managerPhone}, #{managerEmail}, #{supplierFile}
                )
    </insert>

    <!-- 전체 게시글 수 페이지네이션-->
    <select id="getTotalSupplier" resultType="int">
        SELECT count(*)
        FROM supplier
        where 1 = 1
        <if test="supplierName != null and supplierName != ''">
            <![CDATA[ AND supplier_name LIKE CONCAT('%', #{supplierName}, '%') ]]>
        </if>
        <if test="supplierAddress != null and supplierAddress != ''">
            <![CDATA[ AND supplier_address LIKE CONCAT('%', #{supplierAddress}, '%') ]]>
        </if>
        <if test="supplierBusinessNo != null and supplierBusinessNo != ''">
            <![CDATA[ AND supplier_business_no LIKE CONCAT('%', #{supplierBusinessNo}, '%') ]]>
        </if>
        <if test="managerName != null and managerName != ''">
            <![CDATA[ AND manager_name LIKE CONCAT('%', #{managerName}, '%') ]]>
        </if>
        <if test="managerPhone != null and managerPhone != ''">
            <![CDATA[ AND manager_phone LIKE CONCAT('%', #{managerPhone}, '%') ]]>
        </if>
        <if test="managerEmail != null and managerEmail != ''">
            <![CDATA[ AND manager_email LIKE CONCAT('%', #{managerEmail}, '%') ]]>
        </if>
    </select>


    <!-- 공급업체 번호로 수정 팝업창 내용 보기 -->
    <select id="getSupplierByNo" parameterType="Long" resultType="SupplierVO">
        SELECT *
        FROM supplier
        WHERE supplier_no = #{supplierNo}
    </select>


    <!-- 등록업체 수정 -->
    <update id="modifySupplier" parameterType="SupplierVO">
        UPDATE supplier
        SET supplier_name = #{supplierName},
        supplier_address = #{supplierAddress},
        supplier_business_no = #{supplierBusinessNo},
        manager_name = #{managerName},
        manager_phone = #{managerPhone},
        manager_email = #{managerEmail},
        supplier_file = #{supplierFile}
        WHERE supplier_no = #{supplierNo}
    </update>

    <select id="checkSupplierName" resultType="int">
        select count(*) from supplier where supplier_name = #{supplierName}
    </select>
</mapper>